//Estilos Asociados
.bannerAsociados {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('../img/asociados/banner-asociados.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;


    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 74%, rgba(255,255,255,1) 100%);
        z-index: 1;

        @include movil0{
            display: none;
        }
    
        @include movil768{
            display: block;
        }
    }


    .textBanner {
        position: relative;
        z-index: 2;

        

        h1 {
            color: $white;
            font-family: $Montserrat;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: .2rem;
            margin-bottom: 6rem;
        }

        p {
            color: $black;
            font-family: $Montserrat;
            font-weight: 300;
            letter-spacing: .1rem;
        }

        a {
            transition: all .5s ease;
            padding: .5rem 0;
            color: $black;
            border-color: $black;

            &:hover {
                text-decoration: none;
                background-color: rgba($black, .2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.beneficios{
    
    @include movil0{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    @include movil991{
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .category{
        position: relative;
        
        .content{
            position: relative;
            overflow: hidden;
            position: relative;
    
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                z-index: 1;
                opacity: 0;
                transition: all .5s ease;
            }
    
            .infoCategory{
                padding: 1rem;
                position: absolute;
                max-width: 400px;
                width: 100%;
                left: 50%;
                top: 120%;
                transform: translate(-50%,-50%);
                opacity: 0;
                z-index: 2;
                transition: all .5s ease;
    
        
                h4{
                    font-family: $Nunito;
                    color: $white;
                    font-size: 1.8rem;
                    font-weight: 300;
                    text-align: center;
                }
    
                p{
                    font-size: 1rem;
                    color: $white;
                    font-family: $Nunito;
                }
    
                a{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    margin: 0 auto;
                    text-align: center;
                    color: $white;
                    max-width: 200px;
                    width: 100%;
                }
            }

            &:hover{
                transition: all .5s ease;
                cursor: pointer;
    
                &::after{
                    opacity: .8;
                }
    
                .infoCategory{
                    top: 50%;
                    opacity: 1;
                }
    
    
            }
        }

        .icon{
            max-width: 80px;
            width: 100%;
            filter: drop-shadow(0 0 2px $black);
            position: absolute;
            top:100%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }

    }


}

.distribuidor{
    background-color: #e7dcd7;
    box-shadow: inset 0px 0px 17px #676767;

    @include movil0{
        padding: 5rem  1rem 5rem 1rem;
    }

    @include movil1199{
        padding: 3rem  1rem 0rem 1rem;
    }

    .content{
        h3{
            font-family: $Nunito;
            color: $brown;
            font-weight: 600;
            position: relative;
            max-width: 800px;
            width: 100%;

            @include movil0{
                margin-top: 1rem;
                text-align: center;
            }
        
            @include movil768{
                margin-top: 0;
                text-align: left;
            }


            &::after{
                position: absolute;
                content: "";
                width: 30%;
                height: 2px;
                background-color: $brown;
                bottom: 5%;
                right: 15%;

                @include movil0{
                    display: none;
                }
            
                @include movil1199{
                    display: block;
                }
            }
        }

        p{
            font-family: $Nunito;
            color: $black;

            @include movil0{
                margin-top: 1rem;
                text-align: center;
            }
        
            @include movil768{
                margin-top: 0;
                text-align: left;
            }
        }

        a{
            background-color: #161ac8;
            text-decoration: none;
            max-width: 300px;
            width: 100%;
            font-family: $Nunito;
            color: $white;
            text-align: center;
            padding: .5rem 1rem;
            transition: all .5s ease;
            display: block;

            @include movil0{
                margin: 2rem auto;
            }
        
            @include movil768{
                margin: unset;
            }

            &:hover{
                transition: all .5s ease;
                background-color: $black;
            }
        }
    }

    .margin{
        position: relative;

        @include movil0{
            top: -0rem;
        }
    
        @include movil1199{
            top: -5rem;
        }

        
    }
}

.serDistribuidor{
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;

    &::before{
        position: absolute;
        content: "";
        width: 50%;
        height: 50%;
        background-image: url("../img/asociados/logo-vont-after.png");
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: .5;
    }

    .title{
        text-align: center;
        
        h2{
            font-family: $Montserrat;
            color: $brown;
            font-weight: 300;
            position: relative;
            padding: 1.5rem 0;
            position: relative;

            i{
                font-weight: 500;
            }

            &::after{
                position: absolute;
                content: "";
                width: 10%;
                height: 2px;
                background-color: $brown;
                top: 95%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        p{
            margin-top: 3rem;
            font-family: $Nunito;
            color: $brown
        }

    }

    .content{
        margin-top: 3rem;
        border-radius: 15px;
        box-shadow: 0 0 10px #c1c1c1;
        overflow: hidden;
        transition: all .8s ease;
        background-color: $white;
        height: 195px;

        .text{
            padding: 1rem;

            h3{
                font-family: $Nunito;
                color: $brown;
                font-weight: 600;
                position: relative;
            }

            p{
                font-family: $Nunito;
                color: $brown;
            }

            a{
                background-color: #161ac8;
                text-decoration: none;
                max-width: 300px;
                width: 100%;
                font-family: $Nunito;
                color: $white;
                text-align: center;
                padding: .5rem 1rem;
                transition: all .5s ease;
    
                &:hover{
                    transition: all .5s ease;
                    background-color: $black;
                }
            }

        }
        
        img{
            border-radius: 15px 15px 0 0;
        }

        &:hover{
            transition: all .8s ease;
            height: 70vh;
            cursor: pointer;
        }
    }
}

.escalaNegocio{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-image: url("../img/asociados/banner-asociados2.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;


    .text{
        h2,p{
            color: $white;

            @include movil0{
                text-align: center;
            }
        
            @include movil768{
                text-align: left;
            }
        }

        h2{
            font-family: $Montserrat;
            font-weight: 300;
            padding: 1rem 0;
            position: relative;


            &::after{
                position: absolute;
                content: "";
                width: 10%;
                height: 2px;
                background-color: $white;
                transform: translate(-50%,-50%);

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil768{
                    top: 95%;
                    left: 6%;
                }
            }

            i{
                font-weight: 500;
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
            margin-top: 1rem;
        }

        a{
            background-color: #161ac8;
            text-decoration: none;
            max-width: 300px;
            width: 100%;
            font-family: $Nunito;
            color: $white;
            text-align: center;
            padding: .5rem 1rem;
            transition: all .5s ease;
            display: block;

            @include movil0{
                margin: 2rem auto;  
            }
    
            @include movil768{
                margin: unset;
            }

            &:hover{
                transition: all .5s ease;
                background-color: $black;
            }
        }
    }
}

.categoryProductos {
    display: flex;
    align-items: stretch;
    background-color: $grey-strong;

    h2 {
        color: $brown;
        font-weight: 300;
        font-family: $Montserrat;
        margin-bottom: 2rem;

        @include movil0{
            margin-top: 2rem;
            text-align: center;
        }
    
        @include movil768{
            margin-top: 4rem;
            text-align: left;
        }

        i {
            font-weight: 500;
        }
    }

    .principal {
        background-image: url('../img/asociados/suplementosVitaminicos.png');
        background-size: cover;
        background-position: left center;
        padding: 2rem;
        border: 1px solid $white;
        position: relative;

        @include movil0{
            min-height: 50vh;
        }

        @include movil768{
            min-height: 100vh;
        }

        .infoPrincipal {
            background-color: $white;
            max-width: 600px;
            width: 100%;
            box-shadow: 0 0 10px #949494;
            border-radius: 20px;

            @include movil0{
                position: relative;
                padding: 1rem;
                margin: 0 auto;
            }
    
            @include movil768{
                padding: 2rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }

            .title {
                font-family: $Montserrat;
                color: $brown;
                font-weight: 400;
                

                @include movil0{
                    font-size: 2rem;
                    text-align: center;
                }
        
                @include movil768{
                    font-size: 3rem;
                    text-align: left;
                }

            }

            p {
                font-family: $Nunito;
                color: $brown;
                font-weight: 300;
            }

            a {
                display: inline-block;
                text-decoration: none;
                font-family: $Montserrat;
                color: #161ac8;
                max-width: 160px;
                width: 100%;
                font-weight: 300;
                position: relative;
                display: block;
                
                @include movil0{
                    margin: 0 auto;
                }
        
                @include movil768{
                    margin: unset;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 40%;
                    right: 0%;
                    width: 45%;
                    height: 1px;
                    background-color: #161ac8;
                }
            }
        }
    }

    .category {
        min-height: 33.33vh;
        background-size: cover;
        background-position: center center;
        text-decoration: none;
        display: block;
        position: relative;
        z-index: 1;
        border: 1px solid $white;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #464646;
            opacity: .5;
            transition: all .5s ease;
        }

        span{
            position: absolute;
            bottom: 10%;
            left: 5%;
            color: $white;
            font-family: $Nunito;
            font-weight: 300;
            font-size: 1.5rem;
            z-index: 2;
        }



        &.one {
            background-image: url('../img/asociados/category1.jpg');

            img {
                max-width: 120px;
            }
        }

        &.two {
            background-image: url('../img/asociados/category2.jpg');

            img {
                max-width: 200px;
            }
        }

        &.three {
            background-image: url('../img/asociados/category3.jpg');

            img {
                max-width: 200px;
            }
        }


        &:hover {
            &::after {
                opacity: 0;
                transition: all .5s ease;
            }
        }

    }
}

.productosAsociados{
    box-shadow: 0 0 10px #949494;
    margin-bottom: 3rem;

    
    .headerProductsBeauty{
        padding: 2.5rem 1rem 0 0;
        text-align: center;
        
        h2{
            color: $brown;
            font-family: $Montserrat;
            font-weight: 300;

            i{
                font-weight: 400;
            }
        }

    }

    .contentProducts{
        
        #productAsociados{
            

            @include movil0{
                padding: 2rem 0 5rem 0;
            }
        
            @include movil991{
                padding: 2rem 0;
            }
            
            .item{
                box-shadow: 0 0 10px #949494;


                .content{
                    .img{
                        background-size: cover;
                        background-position: center center;

                        @include movil0{
                            height: 60vh;
                        }
        
                        @include movil991{
                            height: 30vh;
                        }
                        
                    }
                    
                }
                .nameProduct{
                    margin-top: 1.5rem;
                    padding: 0 1rem;
                    .name{
                        font-family: $Nunito;
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                    .price{
                        font-size: 1.1rem;
                        font-weight: 500;

                    }

                    .leyend{
                        font-family: $Nunito;
                        color: #949494;
                        font-size: .9rem;
                        padding-bottom: .5rem;
                    }
                }
            }

            .owl-nav{
                position: absolute;
                width: 100%;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;

                @include movil0{
                    width: 100%;
                    max-width: 150px;
                    top: 87%;
                    left: 50%
                }

                @include movil991{
                    max-width: 100%;
                    width: 100%;
                    top: 40%;
                    left: 50%;
                }
    
                
    
                .owl-next,.owl-prev{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($brown,.5);
                    border: 1px solid $white;
                    position: relative;
                    border-radius: 0;
                    transition: all .5s ease;
                    border-radius: 50%;
    
                    &:hover{
                        background-color: $brown;
                        transition: all .5s ease;
                    }
    
    
                    span{
                        font-size: 3rem;
                        color: $white;
                        position: absolute;
                        font-weight: 300;
                        left: 50%;
                        top: 40%;
                        transform: translate(-50%,-50%);
    
                        &:hover{
                            background-color: transparent;
                        }
                    
        
                    }
        
                    
                }
    
                .owl-next{
                    right: 0rem;
                    position: absolute;
                }
    
                .owl-prev{
                    position: absolute;
                    left: 0rem;
                }
            }

            
        }

    }
}

.verticalSlider{
    padding: 1.5rem;
    
    .background{
        //min-height: 100vh;
        display: flex;
        align-items: center;
        background-image: url("../img/asociados/bg-piedras.jpg");
        background-size: cover;
        background-position: center center;

        .info{
            h3{
                font-family: $Montserrat;
                color: $black;
                text-transform: uppercase;
                font-weight: 300;
                padding-bottom: 1rem;
                position: relative;

                @include movil0{
                    margin-top: 2rem;
                    font-size: 2rem;
                    text-align: center;
                }
        
                @include movil991{
                    margin-top: 0;
                    font-size: 2.5rem;
                    text-align: left;
                }

                &::after{
                    position: absolute;
                    content: "";
                    width: 10%;
                    height: 2px;
                    background-color: $black;

                    @include movil0{
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%,-50%);  
                    }
            
                    @include movil991{
                        bottom: 0;
                        left: 5%;;
                    }
                }
            }

            p{
                margin-top: 1rem;
                font-family: $Nunito;
                font-weight: 300;
                color: $black;

                @include movil0{
                
                    text-align: center;
                }
        
                @include movil991{
                    
                    text-align: left;
                }

            }

            a{
                background-color: #161ac8;
                text-decoration: none;
                max-width: 300px;
                width: 100%;
                font-family: $Nunito;
                color: $white;
                text-align: center;
                padding: .5rem 1rem;
                transition: all .5s ease;
                display: block;

                @include movil0{
                
                    margin: 0 auto;
                }
        
                @include movil991{
                    margin: unset;
                }
    
                &:hover{
                    transition: all .5s ease;
                    background-color: $black;
                }
            }
            
        }

        
    }
}

.verticalSlider{
    .background{
        #verticalSlider{
                padding-top: 5rem;
                padding-bottom: 5rem;
                position: relative;
                
                overflow: hidden;

                @include movil0{
                    //height: 140vh;
                }
        
                @include movil991{
                    //height: 140vh;
                }

            .cv-item{
                
                @include movil0{
                    //min-height: 30vh !important;
                }
        
                @include movil991{
                    //min-height: 30vh !important;
                }
            }

            .item {
                padding: 2rem;
                opacity: 0.4;
                transition: .4s ease all;
                transform: scale(.8);
                position: relative;
                z-index: 1;
                border-radius: 15px;
            
                display: flex;
                justify-content: center;
                align-items: center;

                .info{
                    .date{
                        font-family: $Nunito;
                        font-size: 1rem;
                        text-align: right;
                    }

                    .title{
                        font-family: $Montserrat;
                        font-weight: 600;
                        margin-top: 1rem;
                        font-size: 1.1rem;

                        @include movil0{
                            text-align: center;
                        }
                
                        @include movil991{
                            text-align: left;
                        }
                    }

                    .autor{
                        font-family: $Nunito;
                    }

                    p{
                        font-size: 1rem;
                    }
                }
            }
            

            .active {
                
                .item{
                    opacity: 1;
                    background-color: $white;
                }
            }

            .cv-nav{
                @include movil0{
                    display: none;
                }
        
                @include movil991{
                    display: block;
                }

                .cv-prev,.cv-next{
                    background-color: $white;
                    font-family: $Montserrat;
                }
            }


        }
    }
}



.letreroAsociados{
    text-align: center;
    padding: 4rem 1rem;

    h2{
        font-family: $Montserrat;
        color: $brown;
        font-weight: 300;

        @include movil0{
            font-size: 3rem;
            background-position: center;
        }

        @include movil991{
            font-size: 5rem;
            background-position: left center;
        }

        i{
            font-weight: 500;
        }
    }

    img{
        max-width: 50px;
        width: 100%;
        margin: 1rem auto;
    }
}

.logrosAsociados{
    position: relative;
    #carouselExampleCaptions{
        position: relative;
        overflow: hidden;

        .carousel-inner{
            position: relative;
            width: 100%;
            height: 100%;

            .carousel-item{
                top: 0;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    opacity: .5;
                    z-index: 1;
                }

                .image{
                    width: 100%;
                    background-size: cover;
                    background-position: center center ;
                    min-height: 100vh;
                }

                .carousel-caption{
                    transform: translate(-50%,-50%);
                    text-align: left;
                    z-index: 2;
                    position: absolute;
                    padding: 1rem;
                    width: 100%;
                    max-width: 550px;
                    

                    @include movil0{
                        top: 45%;
                        left: 50%;
                        
                        
                    }

                    @include movil991{
                        top: 50%;
                        left: 30%; 
                    }
                }

                h5{
                    font-family: $Montserrat;
                    font-size: 3rem;
                    font-weight: 300;
                    i{
                        font-weight: 500;
                    }
                }

                p{
                    font-family: $Nunito;
                }
            }
        }

        .carousel-indicators{
            max-width: 400px;
            width: 100%;
            margin: 0;

            @include movil0{
                transform: 0;
            }

            @include movil991{
                left: 100%;
                position: absolute;
                top: 50%;
                transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            }

        }

        .carousel-indicators [data-bs-target]{

            @include movil0{
                width: 30px;
            }

            @include movil991{
                width: 100px;
            }
        }

        a{
            transition: all .5s ease;
            padding: .5rem 0;
            &:hover{
                text-decoration: none;
                background-color: rgba($white,.2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.contactoAsociados{

    background-color: #c6c6c6;
    padding: 4rem 2rem;


    .title{
        p,h2{
            text-align: center;
        }

        h2{
            font-family: $Montserrat;
            font-weight: 300;
            color: $brown;

            @include movil0{
                font-size: 2rem;
            }

            @include movil768{
                font-size: 3rem;
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
            color: $brown;
        }
    }

    .map,.form{
        min-height: 63vh;
        margin-top: 2rem;
        border: 1px solid $brown;
        padding: 2rem;

        @include movil0{
            min-height: 35vh;
        }

        @include movil991{
            min-height: 75vh;
        }
    }

    .form{
        background-color: $white;

        h3{
            color: $brown;
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 2rem;

            i{
                font-weight: 500;
            }
        }

        form{
            max-width: 700px;
            width: 100%;
            margin-top: 1rem;

            .form-control{
                background-color: $white;
                border-radius: 0;
                border: 0.5px solid $brown;
                font-family: $Nunito;
                color: $brown;
            }

            input[type="submit"]{
                border: 0;
                padding: .5rem;
                background-color: $white;
                font-family: $Montserrat;
                border: 0.5px solid $brown;
                font-size: 1rem;
                color: $brown;
                font-weight: 300;
                transition: all .5s ease;

                &:hover{
                    background-color: $brown;
                    color: $white;
                    transition: all .5s ease;
                }
            }
        }
    }
    .map{
        background-image: url('../img/beauty/bg-map.jpg');
        position: relative;
        .info{
            display: flex;
            p{
                font-family: $Nunito;
                color: $brown;
                font-weight: 300;
                font-size: 1rem;
                width: 80%;
            }
            
            label{
                
                i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $brown;
                    color: $brown;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;

                }
            }
        }

        h3{
            color: $brown;
            font-family: $Montserrat;
            font-weight: 300;
            position: absolute;
            bottom: 10%;
        }
    }


}






