//Estilos Beauty

.bannerBeauty {
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/beauty/banner-beauty.png');
    background-position: left center;
    background-size: cover;
    position: relative;


    .textBanner {
        position: relative;
        z-index: 2;

        h1 {
            color: $black;
            font-family: $Abril;

            @include movil0{
                text-align: center;
            }
        
            @include movil991{
                text-align: left;
            }
        }

        p {
            color: $black;
            font-family: $Montserrat;
            font-weight: 300;
            letter-spacing: .1rem;

            @include movil0{
                text-align: center;
            }
        
            @include movil991{
                text-align: left;
            }
        }

        a {
            transition: all .5s ease;
            padding: .5rem 0;
            color: $black;
            border-color: $black;

            @include movil0{
                margin: 2rem auto;
            }
        
            @include movil991{
                margin: unset;
            }

            &:hover {
                text-decoration: none;
                background-color: rgba($black, .2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.productsBeauty{
    .headerProductsBeauty{
        padding: 2.5rem 1rem 0 0;
        text-align: center;
        
        p,h2{
            color: $black;
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
            margin: 0;
        }

        h2{
            font-family: $Abril;
            font-size: 1.5rem;
        }
    }

    .contentProducts{

        #productBeauty{
            position: relative;
            padding: 2rem 0;
            
            .item{
                

                .content{
                    position: relative;
                    overflow: hidden;
                    .img{
                        height: 50vh;
                        background-size: cover;
                        background-position: center center;
                        
                    }
                
        
                    .info{
                        background-color: rgba($black,.8);
                        padding: 1.5rem;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 120%;
                        left: 0;
                        transition: all .5s ease;
                        
                        .text{
    
                            max-width: 300px;
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            p{
                                color: $white;
                                font-family: $Nunito;
                                font-weight: 600;
                                font-size: 1rem;
        
                            }
        
                            a{
                                text-decoration: none;
                                color: $white;
                                font-family: $Nunito;
                                font-weight: 300;
                                font-size: .9rem;
                                font-weight: 500;
                                padding: .5rem 1.5rem;
                                border: 1px solid $white;
                                text-transform: uppercase;
                            }
                        }
                    }
                    
                }

                .nameProduct{
                    text-align: center;
                    margin-top: 1.5rem;
                    .name{
                        font-family: $Abril;
                        font-size: 1.4rem;
                    }

                    .leyend{
                        font-family: $Nunito;
                        font-size: .9rem;
                    }
                }

                &:hover{
                    transition: all .5s ease;
                    cursor: pointer;

                    .info{
                        top: 0;
                    }
                }

            }

            .owl-nav{
                position: absolute;
                width: 100%;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;
    
                
    
                .owl-next,.owl-prev{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($black,.5);
                    border: 1px solid $white;
                    position: relative;
                    border-radius: 0;
                    transition: all .5s ease;
                    border-radius: 50%;
    
                    &:hover{
                        background-color: $black;
                        transition: all .5s ease;
                    }
    
    
                    span{
                        font-size: 3rem;
                        color: $white;
                        position: absolute;
                        font-weight: 300;
                        left: 50%;
                        top: 40%;
                        transform: translate(-50%,-50%);
    
                        &:hover{
                            background-color: transparent;
                        }
                    
        
                    }
        
                    
                }
    
                .owl-next{
                    right: 0rem;
                    position: absolute;
                }
    
                .owl-prev{
                    position: absolute;
                    left: 0rem;
                }
            }

            
        }

    }
}

.tipsBeauty{
    background-color: $carmin;
    background-size: cover;
    background-position: right top;

    @include movil0{
        padding: 1rem 0;
    }

    @include movil991{
        padding: 5rem 0;
    }

    .text1{
        
        @include movil0{
            padding-left: 0rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        @include movil991{
            padding-left: 6rem;
            margin-top: 5rem;
            margin-bottom: 10rem;
        }


        p{
            font-family: $Nunito;
            color: $black;
            font-weight: 500;
            max-width: 600px;
            width: 100%;
            font-size: .9rem;

            @include movil0{
                margin: 0 auto;
                text-align: center;
            }
    
            @include movil991{
                margin: unset;
                text-align: justify;
            }

            &.info{
                margin-top: 3rem;
                margin-bottom: 3rem;
                max-width: 450px;
                width: 100%;
                font-size: 1.2rem;
            }
        }
    
        h2{
            font-family: $Abril;
            color: $black;
            font-weight: 300;
            position: relative;
            max-width: 600px;
            width: 100%;
            font-size: 3rem;

            @include movil0{
                text-align: center;
                margin: 0 auto;
            }
    
            @include movil991{
                text-align: left;
                margin: unset;
            }

            
    
            &::after {
                content: "";
                position: absolute;
                width: 40%;
                height: 1px;
                background-color: $black;

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil991{
                    bottom: 20%;
                    left: 70%; 
                }
            }
    
            i{
                font-weight: 600;
            }
        }
    
        a{
            padding: .5rem 0;
            text-transform: uppercase;
            transition: all .5s ease;

            @include movil0{
                margin: 2rem auto;
            }
        
            @include movil991{
                margin: unset;
            }

            &:hover{
                transition: all .5s ease;

                text-decoration: none;
                color: $black;
                background-color: $grey-strong;
            }
        }
    }

    .text2{

        @include movil0{
            padding-right: 0rem;
            margin-top: 2rem;
            margin-bottom: 5rem;
        }

        @include movil991{
            padding-right: 6rem;
            margin-top: 5rem;
            margin-bottom: 10rem;
        }


        p{
            font-family: $Nunito;
            color: $black;
            font-weight: 500;
            max-width: 600px;
            width: 100%;
            font-size: .9rem;

            @include movil0{
                margin: 2rem auto;
                text-align: center;
            }
        
            @include movil991{
                margin: unset;
                text-align: right;
            }

            &.info{
                margin-top: 3rem;
                margin-bottom: 3rem;
                max-width: 450px;
                width: 100%;
                font-size: 1.2rem;

                @include movil0{
                    float: unset;
                    text-align: center;
                }
            
                @include movil991{
                    text-align: justify;
                    float: right;
                }
            }
        }
    
        h2{
            font-family: $Abril;
            color: $black;
            font-weight: 300;
            position: relative;
            max-width: 600px;
            width: 100%;
            font-size: 3rem;

            @include movil0{
                text-align: center;
                margin: 0 auto;
            }
    
            @include movil991{
                text-align: right;
                margin: unset;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $black;

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil991{
                    bottom: 20%;
                    left: 20%; 
                }
            }
    
            i{
                font-weight: 600;
            }
        }
    
        a{
            padding: .5rem 0;
            text-transform: uppercase;
            transition: all .5s ease;

            @include movil0{
                margin: 2rem auto;
                float: unset;
            }
        
            @include movil991{
                margin: unset;
                float: right;
            }

            &:hover{
                transition: all .5s ease;

                text-decoration: none;
                color: $black;
                background-color: $grey-strong;
            }
        }

        
    }

    .text3{
        @include movil0{
            padding-left: 0rem;
        }

        @include movil991{
            padding-left: 5rem;
        }
        
        p{
            font-family: $Nunito;
            color: $black;
            font-weight: 500;
            max-width: 600px;
            width: 100%;
            font-size: .9rem;

            @include movil0{
                margin: 2rem auto;
            }
        
            @include movil991{
                margin: unset;
            }

            &.info{
                margin-top: 3rem;
                margin-bottom: 3rem;
                max-width: 450px;
                width: 100%;
                font-size: 1.2rem;

                @include movil0{
                    text-align: center;
                }
            
                @include movil991{
                    text-align: justify;
                }
            }
        }
    
        a{
            padding: .5rem 0;
            text-transform: uppercase;
            transition: all .5s ease;

            @include movil0{
                margin: 2rem auto;
                float: unset;
            }
        
            @include movil991{
                margin: unset;
            }
            
            &:hover{
                transition: all .5s ease;

                text-decoration: none;
                color: $black;
                background-color: $grey-strong;
            }
        }

        
    }

    .image{
        width: 100%;
        @include movil0{
            max-width: 600px;
            margin: 0 auto;
        }
    
        @include movil991{
            max-width: 100%;
            margin: unset;
        }
    }

    .imagetext3{
        

        @include movil0{
            margin-top: 1rem;
            padding-right: 0rem;
            text-align: center;
        }
    
        @include movil991{
            margin-top: 5rem;
            text-align: right;
            padding-right: 3rem;
        }

        .content{
            position: relative;
            

            @include movil0{
                top: 0rem;
            }
        
            @include movil991{
                top: 8rem;
            }

            h2{
                font-family: $Abril;
                color: $black;
                font-weight: 300;
                position: relative;
                font-size: 3rem;

                @include movil0{
                    padding-right: 0rem;
                }
            
                @include movil991{
                    padding-right: 6rem;
                }
            }
    
            p{

                @include movil0{
                    padding-right: 0rem;
                }
            
                @include movil991{
                    padding-right: 6rem;
                }
            }
        }

        img{
            width: 100%;
            @include movil0{
                max-width: 600px;
                margin: 0 auto;
            }
        
            @include movil991{
                max-width: 100%;
                margin: unset;
            }
        }
    }
}

.blogBeauty{
    .blogCarmin{
        background-color: $carmin;
        padding: 3rem 1rem;
        text-align: center;
        
        p,h2{
            color: $black;
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }

        h2{
            font-family: $Abril;
        }
    }

    .contentBlog{
        margin-top: 2rem;
        margin-bottom: 2rem;
        #blog{
            position: relative;
            
            .item{
                padding: 3rem 2rem;
                position: relative;
                
                .img{
                    height: 30vh;
                    background-size: cover;
                    background-position: center center;
                    
                }
            }
    
            .info{
                background-color: #fdf1e8;
                padding: 1.5rem;
                width: 105%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -10%);
                position: relative;
                
                h4{
                    color: $black;
                    font-family: $Montserrat;
                    font-weight: 300;
                    font-weight: 600;
                }

                p{
                    color: $black;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: 1rem;

                }

                a{
                    text-decoration: none;
                    color: $black;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            .owl-nav{
                position: absolute;
                width: 100%;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;

                @include movil0{
                    width: 100%;
                    max-width: 150px;
                    top: 87%;
                    left: 50%
                }

                @include movil991{
                    max-width: 100%;
                    width: 100%;
                    top: 40%;
                    left: 50%;
                }
    
                
    
                .owl-next,.owl-prev{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($black,.5);
                    border: 1px solid $white;
                    position: relative;
                    border-radius: 0;
                    transition: all .5s ease;
                    border-radius: 50%;
    
                    &:hover{
                        background-color: $black;
                        transition: all .5s ease;
                    }
    
    
                    span{
                        font-size: 3rem;
                        color: $white;
                        position: absolute;
                        font-weight: 300;
                        left: 50%;
                        top: 40%;
                        transform: translate(-50%,-50%);
    
                        &:hover{
                            background-color: transparent;
                        }
                    
        
                    }
        
                    
                }
    
                .owl-next{
                    right: 0;
                    position: absolute;
                }
    
                .owl-prev{
                    position: absolute;
                    left: 0;
                }
            }

            
        }

    }
}


.newsLetterBeauty{
    padding: 5rem 1rem; 
    background-image: url('../img/beauty/newsLetter.png');
    background-position: center center;
    background-size: cover;

    @include movil0{
        padding: 2rem 0rem; 
    }

    @include movil991{
        padding: 5rem 0rem; 
    }

    .container{
        @include movil0{
            min-width: 100% !important;
        }

        @include movil991{
            min-width: 720px !important;
        }
    }

    h3{
        font-family: $Abril;
        color: $white;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .1rem;

        @include movil0{
            text-align: center;
        }

        @include movil992{
            text-align: left;
        }
    }

    .formNewsLetter{
        padding: 3rem 3rem 2rem 3rem;
        border: 1px solid $white;

        @include movil0{
            padding: 3rem 1rem 2rem 1rem;
        }

        @include movil768{
            padding: 3rem 3rem 2rem 3rem;;
        }

        form{

            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;

            label{
                margin-top: 1rem;
                display: block;
                font-size: $Nunito;
                color: $white;
                font-weight: 300;
                width: 100%;

                @include movil0{
                    text-align: center;
                    padding-left: 0%;
                }
        
                @include movil992{
                    text-align: left;
                    padding-left: 2%;
                }
            }

            input[type="email"]{
                background-color: transparent;
                border: 1px solid $white;
                border: 0;
                border-bottom: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                max-width: 400px;
                width: 100%;

                @include movil0{
                    width: 100%;
                }
        
                @include movil991{
                    width: 50%;
                }
                
                &::placeholder{
                    color: $white;
                }
            }

            input[type="submit"]{
                background-color: transparent; 
                border: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                margin-left: 1rem;
                max-width: 300px;
                width: 100%;

                @include movil0{
                    margin-top: 1.5rem;
                    width: 100%;
                }
        
                @include movil991{
                    margin-top: 0rem;
                    width: 40%;
                }
            }
        }
    }
}

.conocerVontBeauty{

    background-color: $carmin;
    
    h3{
        text-align: center;
        padding: 4rem 1rem 2rem 1rem;
        font-family: $Abril;
        color: $black;
        font-weight: 300;
        font-size: 2.5rem;
    }

    #sliderCategory{
        .item {
            border-top: 0;
            border-bottom: 0;
            overflow: hidden;
            position: relative;
            min-height: 80vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                opacity: 0;
                z-index: 1;
            }



            .info {
                position: absolute;
                width: 100%;
                bottom: -50%;
                left: 0;
                transition: all .5s ease;
                z-index: 2;
                padding: 2rem;


                .title{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    color: $white;
                    font-size: 2.5rem;
                    font-family: $Frank;
                    font-weight: 300;
                }

                .moreInfo{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    color: $white;
                    font-size: 1.2rem;
                    font-family: $Nunito;
                    font-weight: 300;
                }
            }

            &:hover {

                .info {
                    bottom: 0;
                    transition: all .5s ease;
                }

                .category {
                    top: 0;
                    transition: all .5s ease;
                }

                &::before{
                    opacity: .5;
                    transition: all .5s ease;
                }

            }
        }

        .owl-nav{
            position: absolute;
            width: 100%;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);

            

            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: rgba($white,.2);
                border: 1px solid $white;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;
                border-radius: 50%;

                &:hover{
                    background-color: $grey-strong;
                    transition: all .5s ease;
                }


                span{
                    font-size: 3rem;
                    color: $white;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
                
    
                }
    
                
            }

            .owl-next{
                right: 0;
                position: absolute;
            }

            .owl-prev{
                position: absolute;
                left: 0;
            }
        }

    }

}

.familiaVontBeauty {
    background-color: $carmin;
    padding: 5rem 0;

    h2 {
        color: $black;
        font-weight: 300;
        font-family: $Abril;
        margin-bottom: 6rem;

        @include movil0{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 2rem;
            text-align: center;
        }

        @include movil768{
            max-width: 100%;
            margin: unset;
            margin-bottom: 6rem;
            text-align: left;
        }

        i {
            font-weight: 400;
        }
    }

    p{
        color: $black;
        padding-bottom: 0;
        margin-bottom: 0;

        @include movil0{
            
            text-align: center;
        }

        @include movil768{
            
            text-align: left;
        }
    }

    #familyvont{
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            transform: scale(.8);

            @include movil0{
                margin: 0px;
            }

            @include movil768{
                margin: 0 20px;
            }
        }
    
        .active{
            .item{
                opacity: 1;
                transform: scale(1);
            }
        }
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner {
            background-color: $white;
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            margin-top: 1rem;
    
            a{
                color: $black;
                font-weight: 300;
                text-decoration: none;
                transition: .3s ease border-color;
                text-transform: uppercase;

                @include movil0{
                    font-size: 1rem;
                }
    
                @include movil768{
                    font-size: 1.5rem;
                }

                &:hover{
                    color: $black-light;
                    transition: all .5s ease;
                }
    
                i{
                    margin: 0 .5rem;
                }
    
            }

            .namePerson{
                @include movil0{
                    display: block;
                }
    
                @include movil768{
                    display: inline-block;
                }
            }
        }
    
        .owl-nav{
            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: $white;
                border: 1px solid $black;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;

                &:hover{
                    background-color: $black;
                    transition: all .5s ease;

                    span{
                        color: $white;
                    }
                }


                span{
                    font-size: 3rem;
                    color: $black;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
                
    
                }
    
                
            }
        }
    
    }
}

.logrosBeauty{
    position: relative;
    #carouselExampleCaptions{
        position: relative;
        overflow: hidden;

        .carousel-inner{
            position: relative;
            width: 100%;
            height: 100%;

            .carousel-item{
                top: 0;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    opacity: .5;
                    z-index: 1;
                }

                .image{
                    width: 100%;
                    background-size: cover;
                    background-position: center center ;
                    min-height: 100vh;
                }

                .carousel-caption{
                    transform: translate(-50%,-50%);
                    text-align: left;
                    z-index: 2;
                    position: absolute;
                    padding: 1rem;
                    width: 100%;
                    max-width: 550px;
                    

                    @include movil0{
                        top: 45%;
                        left: 50%;
                        
                        
                    }

                    @include movil991{
                        top: 50%;
                        left: 30%; 
                    }
                }

                h5{
                    font-family: $Abril;
                    font-size: 3rem;
                    font-weight: 300;
                    i{
                        font-weight: 500;
                    }
                }

                p{
                    font-family: $Nunito;
                }
            }
        }

        .carousel-indicators{
            max-width: 400px;
            width: 100%;
            margin: 0;

            @include movil0{
                transform: 0;
            }

            @include movil991{
                left: 100%;
                position: absolute;
                top: 50%;
                transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            }

        }

        .carousel-indicators [data-bs-target]{

            @include movil0{
                width: 30px;
            }

            @include movil991{
                width: 100px;
            }
        }

        a{
            transition: all .5s ease;
            padding: .5rem 0;
            &:hover{
                text-decoration: none;
                background-color: rgba($white,.2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.contactoBeauty{

    background-color: $carmin;
    padding: 4rem 2rem;

    .titlePath{
        text-align: center;
        margin-bottom: 3rem;
        h2{
            font-family: $Abril;
            color: $white;
            font-weight: 300;
            letter-spacing: .3rem;

            @include movil0{
                font-size: 3rem;
                background-position: center;
            }

            @include movil991{
                font-size: 6rem;
                background-position: left center;
            }
        }

        img{
            margin-top: 2rem;
            max-width: 80px;
            width: 100%;
        }
    }

    .title{
        p,h2{
            color: $white;
            text-align: center;
        }

        h2{
            font-family: $Abril;
            font-weight: 300;

            @include movil0{
                font-size: 2rem;
            }

            @include movil768{
                font-size: 3rem;
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }
    }

    .map,.form{
        min-height: 63vh;
        margin-top: 2rem;
        border: 1px solid $black;
        padding: 2rem;

        @include movil0{
            min-height: 35vh;
        }

        @include movil991{
            min-height: 75vh;
        }
    }

    .form{
        background-color: $white;

        h3{
            color: $black;
            font-family: $Abril;
            font-weight: 300;
            font-size: 2rem;
        }

        form{
            max-width: 700px;
            width: 100%;
            margin-top: 1rem;

            .form-control{
                background-color: $white;
                border-radius: 0;
                border: 0.5px solid $black;
                font-family: $Nunito;
                color: $brown;
            }

            input[type="submit"]{
                border: 0;
                padding: .5rem;
                background-color: $white;
                font-family: $Abril;
                border: 0.5px solid $black;
                font-size: 1rem;
                color: $brown;
                font-weight: 300;
                transition: all .5s ease;

                &:hover{
                    background-color: $black;
                    color: $white;
                    transition: all .5s ease;
                }
            }
        }
    }
    .map{
        background-image: url('../img/beauty/bg-map.jpg');
        position: relative;
        .info{
            display: flex;
            p{
                font-family: $Nunito;
                color: $black;
                font-weight: 300;
                font-size: 1rem;
                width: 80%;
            }
            
            label{
                
                i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $black;
                    color: $black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;

                }
            }
        }

        h3{
            color: $black;
            font-family: $Abril;
            font-weight: 300;
            position: absolute;
            bottom: 10%;
        }
    }


}