//ESTILOS BODY

.bannerBody {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/body/banner-body.jpg');
    background-position: left top;
    background-size: cover;
    position: relative;

    
    @include movil0{
        background-position: left center;
    }

    @include movil768{
        background-position: left top;
    }

    .textBanner {
        position: relative;
        z-index: 2;

        h1 {
            color: $white;
            font-family: $Bebas;
            font-style: italic;

            @include movil0{
                text-align: center;
            }
        
            @include movil768{
                text-align: left;
            }
        }

        p {
            color: $white;
            font-family: $Montserrat;
            font-weight: 300;
            letter-spacing: .1rem;

            @include movil0{
                text-align: center;
            }
        
            @include movil768{
                text-align: justify;
            }
        }

        a {
            transition: all .5s ease;
            padding: .5rem 0;

            &:hover {
                text-decoration: none;
                background-color: rgba($white, .2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.riquezaBody{
    padding: 1rem 1rem;
    background-color:$purple-light;

    p{
        font-family: $Nunito;
        color: $purple;
        font-weight: 300;
        text-align: justify;
        max-width: 600px;
        width: 100%;

        @include movil0{
            text-align: center;
        }

        @include movil768{
            text-align: left;
        }
    }

    h2{
        font-family: $Bebas;
        color: $purple;
        font-weight: 300;
        position: relative;
        max-width: 600px;
        width: 100%;
        font-style: italic;

        @include movil0{
            text-align: center;
        }

        @include movil768{
            text-align: left;
        }

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $purple;

            @include movil0{
                width: 45%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,-50%);  
            }
    
            @include movil768{
                width: 42%;
                bottom: 20%;
                left: 50%; 
            }
        }
    }

    img{
        position: relative;
        

        @include movil0{
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            display: block;
            top: 0rem;
        }

        @include movil768{
            top: -6rem;
            max-width: 100%;
            margin: unset;
            display: block;
            
        }
    }
}

.tipsTranformarVida{

    background-color: $purple-light;



    .banner{
        width: 100%;
        
        text-align: center;
        background-image: url('../img/body/bg-tips.jpg');
        padding: 3rem 0;
        background-position: top center;
        background-size: cover;

        @include movil0{
            height: 60vh;
        }

        @include movil768{
            height: 100vh;
            
        }


        h2{
            font-family: $Bebas;
            font-style: italic;
            letter-spacing: .1rem;
            color: $white;
        }
    }

    .row{
        position: relative;
        
        @include movil0{
            top: 0;
        }

        @include movil768{
            top:-6rem;
        }
    }

    .tip{

        @include movil0{
            border: 0;
            margin-top: 2rem;
        }

        @include movil768{
            margin-top: 0;
            border: 1px solid $purple;
        }


        .infoTip{
            padding: 1rem;

            @include movil0{
                justify-content: center;
                flex-wrap: wrap;
            }

            @include movil1200{
                justify-content: space-between;
                flex-wrap: nowrap;
            }
    
            h4{
                font-family: $Bebas;
                color: $purple;
                font-style: italic;
                font-size: 1.5rem;
                font-weight: 300;

                @include movil0{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
    
                @include movil1200{
                    display: inline-block;
                    text-align: left;
                }
            }

            p{
                font-size: 1rem;
                color: $purple;
                font-family: $Nunito;

                @include movil0{
                    text-align: center;
                }
    
                @include movil1200{
                    text-align: left;
                }
            }

            a{
                padding: .5rem 1rem;
                text-decoration: none;
                font-family: $Nunito;
                text-align: center;
                border: 1px solid $purple;
                color: $brown;
                max-width: 200px;
                width: 100%;

                @include movil0{
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin: 0 auto;
                }
    
                @include movil1200{
                    margin: unset;
                    display: inline-block;
                    text-align: right;
                }
            }

        }

        img{
            width: 100%;

            @include movil0{
                max-width: 300px;
                margin: 0 auto;
                display: block;
            }

            @include movil768{
                display: inline-block;
                max-width: 100%;
                margin: unset;
            }
        }
    }


}

.definirPoyectoBody{
    background-color: $purple-light;
    position: relative;

    @include movil0{
        padding: 1rem 0rem;
    }

    @include movil1199{
        padding: 3rem 0rem;
    }


    .text{
        height: 100%;
        padding-left: 6rem;

        @include movil0{
            padding-left: 1rem;
        }

        @include movil991{
            padding-left: 6rem;
        }


        h2{
            font-family: $Bebas;
            color: $purple;
            font-weight: 300;
            position: relative;
            max-width: 600px;
            width: 100%;
            font-style: italic;

            @include movil0{
                text-align: center;
                margin: 1rem auto;
                
            }
    
            @include movil991{
                text-align: left;
                margin: unset;
                
            }

            
    
            &::after {
                content: "";
                position: absolute;
                width: 25%;
                height: 1px;
                background-color: $purple;

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil991{
                    bottom: 20%;
                    left: 45%;
                    
                }
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;

            @include movil0{
                text-align: center; 
            }
    
            @include movil991{
                text-align: left;
                
            }

        }
    }

    .imgAccordion{


        @include movil0{
            max-width: 500px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        @include movil991{
            max-width: 100%;
            margin: unset;
            display: block;
            
        }

        .info{
            background-color: $purple;
            color: $white;
            padding: 1rem;
            width: 100%;

            @include movil0{
                position: relative;
            }
    
            @include movil1199{
                max-width: 600px;
                position: absolute;
                bottom: 4rem;
                right: 5rem;
                
            }

            h4{
                font-family: $Bebas;
                font-style: italic;
            }

            p{
                font-family: $Nunito;
            }
        }
    }
    .accordion{
        padding: 0 2rem;

        @include movil0{
            padding: 0;
            margin-top: 1rem;
        }

        @include movil991{
            padding: 0 2rem;
            margin-top: 0;
        }

        .accordion-button:not(.collapsed),.accordion-button{
            background-color: $purple-light;
            border-color: $purple-light;
            border: 0;
            border-radius: 0;
            font-size: 2rem;
            color: $purple;
            font-weight: 300;
            font-style: italic;
            color: black;
            -webkit-text-fill-color: $purple-light; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: $purple;
        }

        .accordion-item{
            border: 0;
        }

        .accordion-header{
            text-decoration: none;
            font-family: $Bebas;
            color: $purple;
            font-size: 1.2rem;
        }

        .accordion-body{
            background-color: $purple-light;
            font-family: $Nunito;
            color: $purple;
            font-weight: 500;
        }

        .accordion-button:not(.collapsed){
            -webkit-text-fill-color: $purple !important;
        }

    }
}

.conocerVontBody{
    position: relative;

    h3{
        padding: 1rem 3rem;
        font-family: $Bebas;
        font-style: italic;
        color: $white;
        font-weight: 300;
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        background-color: rgba($purple,.7);

        @include movil0{
            text-align: center;
        }

        @include movil991{
            text-align: left;
        }

    }

    #sliderCategoryBody{
        .item {
            border-top: 0;
            border-bottom: 0;
            overflow: hidden;
            position: relative;
            min-height: 100vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                opacity: .3;
                z-index: 1;
            }



            .info {
                position: absolute;
                width: 100%;
                max-width: 600px;
                transform: translate(-50%,-50%);
                z-index: 2;
                padding: 2rem;
                background-color: $purple;

                @include movil0{
                    text-align: center;
                    top: 50%;
                    left: 50%;
                }
        
                @include movil991{
                    text-align: left;
                    top: 50%;
                    left: 70%;
                }


                .title{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    color: $white;
                    font-size: 2.5rem;
                    font-family: $Frank;
                    font-weight: 300;
                }

                p{
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                }

                .moreInfo{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    color: $white;
                    font-size: 1.2rem;
                    font-family: $Nunito;
                    font-weight: 300;
                }
            }

            &:hover {

                .category {
                    top: 0;
                    transition: all .5s ease;
                }

            }
        }

        .owl-nav{
            position: absolute;
            width: 100%;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);

            @include movil0{
                width: 100%;
                max-width: 150px;
                top: 87%;
                left: 50%
            }

            @include movil991{
                max-width: 100%;
                width: 100%;
                top: 40%;
                left: 50%;
            }

            

            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: rgba($white,.2);
                border: 1px solid $white;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;
                border-radius: 50%;

                &:hover{
                    background-color: $grey-strong;
                    transition: all .5s ease;
                }


                span{
                    font-size: 3rem;
                    color: $white;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
    
                }
    
                
            }

            .owl-next{
                right: 0;
                position: absolute;
            }

            .owl-prev{
                position: absolute;
                left: 0;
            }
        }

    }

}

.blogBody{
    .morado{
        padding: 3rem 1rem;
        text-align: center;
        
        p,h2{
            color: $white;
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }

        h2{
            font-family: $Bebas;
            font-weight: 300;
            font-style: italic;
            letter-spacing: .1rem;
        }
    }

    .contentBlog{

        #blog{
            position: relative;
            
            .item{
                padding: 3rem 2rem;
                position: relative;
                
                .img{
                    height: 30vh;
                    background-size: cover;
                    background-position: center center;
                    
                }
            }
    
            .info{
                background-color: $purple;
                padding: 1.5rem;
                width: 105%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -10%);
                position: relative;
                
                h4{
                    color: $white;
                    font-family: $Montserrat;
                    font-weight: 300;
                    font-weight: 600;
                }

                p{
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: 1rem;

                }

                a{
                    text-decoration: none;
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            .owl-nav{
                position: absolute;
                width: 100%;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;
                
                @include movil0{
                    width: 100%;
                    max-width: 150px;
                    top: 87%;
                    left: 50%
                }

                @include movil991{
                    max-width: 100%;
                    width: 100%;
                    top: 40%;
                    left: 50%;
                }
                
    
                .owl-next,.owl-prev{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($purple,.5);
                    border: 1px solid $white;
                    position: relative;
                    border-radius: 0;
                    transition: all .5s ease;
                    border-radius: 50%;
    
                    &:hover{
                        background-color: $grey-strong;
                        transition: all .5s ease;
                    }
    
    
                    span{
                        font-size: 3rem;
                        color: $white;
                        position: absolute;
                        font-weight: 300;
                        left: 50%;
                        top: 40%;
                        transform: translate(-50%,-50%);
    
                        &:hover{
                            background-color: transparent;
                        }
                    
        
                    }
        
                    
                }
    
                .owl-next{
                    right: 0;
                    position: absolute;
                }
    
                .owl-prev{
                    position: absolute;
                    left: 0;
                }
            }

            
        }

    }
}

.newsLetterBody{
    padding: 5rem 1rem; 
    background-image: url('../img/body/newsletterBody.jpg');
    background-position: center center;
    background-size: cover;

    @include movil0{
        padding: 2rem 0rem; 
    }

    @include movil991{
        padding: 5rem 0rem; 
    }

    .container{
        @include movil0{
            min-width: 100% !important;
        }

        @include movil991{
            min-width: 720px !important;
        }
    }

    h3{
        font-family: $Bebas;
        color: $white;
        font-weight: 300;
        font-size: 2rem;
        font-style: italic;
        letter-spacing: .1rem;

        @include movil0{
            text-align: center;
        }

        @include movil992{
            text-align: left;
        }
    }

    .formNewsLetter{
        padding: 3rem 3rem 2rem 3rem;
        border: 1px solid $white;

        @include movil0{
            padding: 3rem 1rem 2rem 1rem;
        }

        @include movil768{
            padding: 3rem 3rem 2rem 3rem;;
        }

        form{

            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;

            label{
                margin-top: 1rem;
                display: block;
                font-size: $Nunito;
                color: $white;
                font-weight: 300;
                width: 100%;

                @include movil0{
                    text-align: center;
                    padding-left: 0%;
                }
        
                @include movil992{
                    text-align: left;
                    padding-left: 2%;
                }
            }

            input[type="email"]{
                background-color: transparent;
                border: 1px solid $white;
                border: 0;
                border-bottom: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                max-width: 400px;
                width: 100%;

                @include movil0{
                    width: 100%;
                }
        
                @include movil991{
                    width: 50%;
                }
                
                &::placeholder{
                    color: $white;
                }
            }

            input[type="submit"]{
                background-color: transparent; 
                border: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                margin-left: 1rem;
                max-width: 300px;
                width: 100%;

                @include movil0{
                    margin-top: 1.5rem;
                    width: 100%;
                }
        
                @include movil991{
                    margin-top: 0rem;
                    width: 40%;
                }
            }
        }
    }
}

.familiaVontPurple {
    background-color: $purple;
    padding: 5rem 0;

    h2 {
        color: $white;
        font-weight: 300;
        font-family: $Bebas;
        margin-bottom: 6rem;
        font-style: italic;
        letter-spacing: .1rem;

        @include movil0{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 2rem;
            text-align: center;
        }

        @include movil768{
            max-width: 100%;
            margin: unset;
            margin-bottom: 6rem;
            text-align: left;
        }

    }

    p{
        color: $white;
        padding-bottom: 0;
        margin-bottom: 0;

        @include movil0{
            
            text-align: center;
        }

        @include movil768{
            
            text-align: left;
        }
    }

    #familyvont{
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            transform: scale(.8);

            @include movil0{
                margin: 0px;
            }

            @include movil768{
                margin: 0 20px;
            }
        }
    
        .active{
            .item{
                opacity: 1;
                transform: scale(1);
            }
        }
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner {
            background-color: $purple-light;
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            margin-top: 1rem;

            
    
            a{
                color: $purple;
                font-weight: 300;
                text-decoration: none;
                transition: all .3s ease;
                text-transform: uppercase;

                @include movil0{
                    font-size: 1rem;
                }
    
                @include movil768{
                    font-size: 1.5rem;
                }

                &:hover{
                    color: $black-light;
                    transition: all .5s ease;
                }
    
                i{
                    margin: 0 .5rem;
                }
    
            }

            .namePerson{
                @include movil0{
                    display: block;
                }
    
                @include movil768{
                    display: inline-block;
                }
            }
        }
    
        .owl-nav{
            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: $purple-light;
                border: 1px solid $purple;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;

                &:hover{
                    background-color: $purple;
                    border: 1px solid $purple-light;
                    transition: all .5s ease;

                    span{
                        color: $purple-light;
                    }
                }


                span{
                    font-size: 3rem;
                    color: $purple;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                        
                    }
                
    
                }
    
                
            }
        }
    
    }
}

.logrosBody{
    position: relative;
    #carouselExampleCaptions{
        position: relative;
        overflow: hidden;

        .carousel-inner{
            position: relative;
            width: 100%;
            height: 100%;

            .carousel-item{
                top: 0;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    opacity: .5;
                    z-index: 1;
                }

                .image{
                    width: 100%;
                    background-size: cover;
                    background-position: center center ;
                    min-height: 100vh;
                }

                .carousel-caption{
                    transform: translate(-50%,-50%);
                    text-align: left;
                    z-index: 2;
                    position: absolute;
                    padding: 1rem;
                    width: 100%;
                    max-width: 550px;
                    

                    @include movil0{
                        top: 45%;
                        left: 50%;
                        
                        
                    }

                    @include movil991{
                        top: 50%;
                        left: 30%; 
                    }
                }

                h5{
                    font-family: $Bebas;
                    font-size: 3rem;
                    font-weight: 300;
                    i{
                        font-weight: 500;
                    }
                }

                p{
                    font-family: $Nunito;
                }
            }
        }

        .carousel-indicators{
            max-width: 400px;
            width: 100%;
            margin: 0;

            @include movil0{
                transform: 0;
            }

            @include movil991{
                left: 100%;
                position: absolute;
                top: 50%;
                transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            }

        }

        .carousel-indicators [data-bs-target]{

            @include movil0{
                width: 30px;
            }

            @include movil991{
                width: 100px;
            }
        }

        a{
            transition: all .5s ease;
            padding: .5rem 0;
            &:hover{
                text-decoration: none;
                background-color: rgba($white,.2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.contactoBody{

    background-color: $purple;
    padding: 4rem 2rem;

    .titlePath{
        text-align: center;
        margin-bottom: 3rem;
        h2{
            font-family: $Bebas;
            font-weight: 300;
            letter-spacing: .3rem;
            color: $white;
            font-style: italic;

            @include movil0{
                font-size: 3rem;
                background-position: center;
            }

            @include movil991{
                font-size: 6rem;
                background-position: left center;
            }
        }

        img{
            margin-top: 2rem;
            max-width: 80px;
            width: 100%;
        }
    }

    .title{
        p,h2{
            color: $white;
            text-align: center;
        }

        h2{
            font-family: $Bebas;
            font-style: italic;
            font-weight: 300;

            @include movil0{
                font-size: 2rem;
            }

            @include movil768{
                font-size: 3rem;
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }
    }

    .map,.form{
        min-height: 63vh;
        margin-top: 2rem;
        border: 1px solid $brown;
        padding: 2rem;

        @include movil0{
            min-height: 35vh;
        }

        @include movil991{
            min-height: 75vh;
        }
    }

    .form{
        background-color: #f2e9e4;

        h3{
            color: $purple;
            font-family: $Bebas;
            font-style: italic;
            font-weight: 300;
            font-size: 2rem;
        }

        form{
            max-width: 700px;
            width: 100%;
            margin-top: 1rem;

            .form-control{
                background-color: $purple-light;
                border-radius: 0;
                border: 0.5px solid $purple;
                font-family: $Nunito;
                color: $purple;
            }

            input[type="submit"]{
                border: 0;
                padding: .5rem;
                background-color: $purple-light;
                font-family: $Montserrat;
                border: 0.5px solid $purple;
                font-size: 1rem;
                color: $brown;
                font-weight: 300;
                transition: all .5s ease;

                &:hover{
                    background-color: $green;
                    color: $white;
                    transition: all .5s ease;
                }
            }
        }
    }
    .map{
        background-image: url('../img/body/bg-map.jpg');
        position: relative;
        .info{
            display: flex;
            p{
                font-family: $Nunito;
                color: $purple;
                font-weight: 300;
                font-size: 1rem;
                width: 80%;
            }
            
            label{
                
                i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $purple;
                    color: $purple;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;

                }
            }
        }

        h3{
            color: $purple;
            font-family: $Bebas;
            font-weight: 300;
            position: absolute;
            bottom: 10%;
        }
    }


}