/*ESTILOS FOOTER*/
.footer{
    background-color: #c6c6c6;
    

    @include movil0{
        padding: 2rem 1rem;
        text-align: center;

    }
    @include movil1199{
        padding: 5rem 1rem;
        text-align: left;

    }

    img{
        max-width: 130px;
        width: 100%;
        margin: 0 auto;
    }

    footer{
        p{
            font-family: $Montserrat;
            color: $white;
            font-size: 1rem;

            @include movil0{
                margin-top: 1rem;
        
            }
            @include movil1199{
                margin-top: 0;
        
            }

            a{
                text-decoration: none;
                font-family: $Montserrat;
                color: $white;
                font-size: 1rem;
            }
        }

        ul{
            list-style: none;
            padding: 0;

            li{
                a{
                    text-decoration: none;
                    font-family: $Nunito;
                    font-size: 1rem;
                    color: $white;
                }
            }
        }

        .social{
            a{
                text-decoration: none;
                font-family: $Montserrat;
                color: $white;
                font-size: 1rem;
            }
            
        }

        p, li a, p a, .social a{
            &:hover{
                color: $brown;
                transition: all .5s ease;
            }
        }
    }
}