/*Genreal Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.2rem;
    letter-spacing: -.03rem;
}

.sinPadding{
    padding: 0;
}

.top-button{
    a{
        background-color: $brown;
        border: 0;

        i{
            color: $white;
        }

        &:hover{
            background-color: $black-light;
        }
    }
}

.btn-black{
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    color: $white;
    max-width: 200px;
    width: 100%;
    background-color: $black;
    font-family: $Nunito;
    padding: .5rem 0;
    transition: all .5s ease;

    @include movil0{
        margin: 2rem auto;
    }

    @include movil768{
        margin: 2rem 0;
    }

    &:hover{
        background-color: rgba($white,.2);
        transition: all .5s ease;
        color: $black;
    }
}

.btn-white{
    display: block;
    text-align: center;
    text-decoration: none;
    color: $white;
    max-width: 200px;
    width: 100%;
    border: 1px solid $white;
    font-family: $Nunito;
    text-decoration: none;
    font-weight: 300;

    @include movil0{
        margin: 2rem auto;
    }

    @include movil768{
        margin: 2rem auto;
    }
}

.btn-veige{
    display: block;
    text-align: center;
    text-decoration: none;
    color: $brown;
    max-width: 200px;
    width: 100%;
    border: 1px solid $brown;
    font-family: $Nunito;
    text-decoration: none;
    font-weight: 300;

    @include movil0{
        margin: 2rem auto;
    }

    @include movil768{
        margin: 2rem 0;
    }
}

.veige{
    background-color: $veige;
}




/*ANIMATION MARQUEE*/

.marqueeContenedor{
    border-bottom: 1px solid $brown;
    border-top: 1px solid $brown;
    background-color: $white;
    padding: 1rem 1rem;

    .containerMarquee{
        
        // Here we're setting up the animations.
        // translate3d takes in 3 arguments (x, y, z)
        // In these animations, we're only using the x.
        
        // marqueeOne moves from RIGHT to LEFT.
        @keyframes marqueeOne {
            0% {
                transform: translate3d(var(--move-initial), 0, 0);
            }
    
            100% {
                transform: translate3d(var(--move-final), 0, 0);
            }
        }
        
        // marqueeTwo moves from LEFT to RIGHT.
        @keyframes marqueeTwo {
            0% {
                transform: translate3d(var(--move-final), 0, 0);
            }
    
            100% {
                transform: translate3d(var(--move-initial), 0, 0);
            }
        }
        
        .containerMarquee {
            width: 100%;
            height: 100vh;
            display: flex;
            place-items: center;
        }
        
        .marquee {
            position: relative;
            // Overflow hidden prevents the div from being scrollable.
            overflow: hidden;
            // Offset is just the off-screen placement of the marquees. We don't want them dead-center.
            --offset: 20vw;
            // Adjust "-25%" based on how many spans you have.
            // In our case, "-25%" is ONE span out of FOUR.
            // The -50% is just double that, so when the animation resets, 
            // the text will have moved in such a way that one span overlaps the span next to it.
            --move-initial: calc(-25% + var(--offset));
            --move-final: calc(-50% + var(--offset));
            
            &__inner {
                // Width of the div is set to FIT its content.
                width: fit-content;
                display: flex;
                position: relative;
                // white-space: nowrap; means on overflow, the text doesn't wrap to the next line.
                // This allows us to have a single line of text, regardless of the font-size.
                white-space: nowrap;
                span {
                    // I chose a font-size of 10vw just because it looks good and adapts to the screen size.
                    // I could use clamp() here, but I want the font-size to adapt consistently at every viewport width.
                    // If I set a min/max font-size with clamp(), it'll mess up the animation.
                    max-width: 700px;
                    width: 100%;
                    margin: 0 2rem;
                    margin: 0 4rem;
    
                }
            }
            .first {
                // Here our text moves in the x-direction (left/right) based on our variable above.
                transform: translate3d(var(--move-initial), 0, 0);
                // Here we declare our animation.
                // We're using the marqueeOne animation.
                // 10s duration with a linear ease and will repeat infinitely.
                animation: marqueeOne 10s linear infinite;
                
                span {
                    // This is how you get those 'bordered' texts.
                    // text-stroke is the border.
                    // text-fill-color is (obviously) the fill color of the text.
                    font-family: $Nunito;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $brown;
                    text-align: center;
                    letter-spacing: -.03rem;
                    
                }
            }
            
        }
    }
}




