/*EESTILOS HEADER*/
.site-header{
    background-color: $white;
    border-bottom: 1px solid $brown;
    padding: 0rem 2rem;

    .container-fluid {
        max-width: 90%;
    }

    &.fixed {
        position: fixed;
        width: 100%;
        top:0;
        left:0;
        z-index: 999;
        background-color: rgba(255,255,255,0.8);
        border:0;
        box-shadow:1px 1px 10px rgba(1,1,1,0.4);

        a {
            color: black;
        }
    }

    @include movil0{
        padding: 1rem;
    }

    @include movil768{
        padding: 0;
    }

    .widget_polylang {
       ul {
           padding:0;
           margin:0;

           li {
               list-style-type: none;
           }
       }
    }

    a {
        text-decoration: none;
        font-family: $Montserrat;
        color: $brown;
        font-weight: 300;


        .logo-header{
            max-width: 100px;
            width: 100%;

            @include movil0{
                float: left;
            }
        
            @include movil768{
                float: unset;
            }
        }

        .isotipo{
            max-width: 40px;
            width: 100%;

            @include movil0{
                float: right;
            }
    
            @include movil991{
                float: initial;
            }
        }
    }

    .contactoHeader{
        border-left: 1px solid $brown;

        @include movil0{
            padding: 1.5rem 1rem;
        }

        @include movil1199{
            padding: 1.5rem 1rem;
        }

        @include movil1400{
            padding: 1.5rem 2rem;
        }
        
    }

    .menu{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 70px;
        width: 100%;

        @include movil0{
            float: right;
        }
    
        @include movil768{
            float: unset;
        }

        i{

            @include movil0{
                order: 2;
            }
        
            @include movil768{
                order: 1;
            }

        }

        label{

            @include movil0{
                order: 1;
            }
        
            @include movil768{
                order: 2;
                
            }

        }


    }

    .hide{
        @include movil0{
            display: none;
        }

        @include movil768{
            display: block;
        }
    }

}



//CANVAS MENU
.offcanvas{
    background-color: rgba($black,.9);
    height: 100vh;
    
    .offcanvas-header{
        

        @include movil0{
            padding: 1.5rem 0;
        }

        @include movil768{
            padding: 0;
        }

        a,label{
            color: rgba($white,.5);
            font-family: $Montserrat;
            font-weight: 300;
            
        }

        label{
            position: relative;
            bottom: .3rem;
        }

        .contactoHeader{
            border-left: 1px solid rgba($white,.5) !important;
        }

        
            
        .logo-header{
            @include movil0{
                float: unset;
            }
    
            @include movil768{
                padding: unset;
            }
        }

        .lenguage{

            @include movil0{
                text-align: right;
                position: relative;
                top: .3rem;
                right: .5rem;

            }
    
            @include movil768{
                text-align: left;
            }

        }

        .btn-close{
            max-width: 110px;
            width: 100%;
            margin: 0;

            label{
                position: relative;
                top: .05rem;
            }
        }
            
    

    }

    .border{
        border: 1px solid rgba($white,.5) !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
    }

    .offcanvas-body{

        .container{
            @include movil0{
                max-width: 100%;

            }
    
            @include movil991{
                max-width: 1300px;
                width: 100%;
            }
        }

        .itemsCanvas{
            ul{
                list-style: none;
                padding: 0;

                li{
                    margin-top: 1rem;
                    position: relative;
                    overflow: hidden;
                    

                    label{
                        color: rgba($white,.5);
                        padding: 1rem;
                        letter-spacing: .3rem;
                        position: relative;
                        bottom: -50rem;
                        display: inline-block;
                        transition: all .5s ease;

                    }

                    a{
                        color: rgba($white,.5);
                        transition: all .5s ease;
                        letter-spacing: .3rem;
                        font-weight: 300;
                        font-family: $Montserrat;
                        display: inline-block;

                        @include movil0{
                            font-size: 1.2rem;
                
                        }

                        @include movil768{
                            font-size: 2rem;
                
                        }
                
                        @include movil991{
                            font-size: 2.5rem;
        
                        }

                        

                        &:hover{
                            color: rgba($white,1);
                            transition: all .5s ease;
                            
                        }

                    }

                    &:hover{
                        label{
                            bottom: .5rem;
                            transition: all .5s ease;
                        }
                    }
                }
            }
        }

        .contact{
            p,a{
                color: rgba($white,.5);
                font-family: $Nunito;
                font-weight: 300;
                font-size: .9rem;
                letter-spacing: .1rem;
                transition: all .5s ease;

                

                &:hover{
                    color: rgba($white,1);
                    transition: all .5s ease;
                }

            }
            p{
                padding-left: 4.5rem;
                text-align: left;


                a{
                    margin: 0 1rem;
                }
            }
        }
    }

    .articles{
        @include movil0{
            padding: 1rem 1.5rem;
            text-align: center;
        }

        @include movil992{
            background-color: transparent;
            padding: 0;
            text-align: left;
        }

        .postArticle{
            display: block;
            text-decoration: none;

            @include movil0{
                margin-top: 2rem;
            }
    
            @include movil991{
                margin-top: 1rem;;
            }
            

            h2{
                font-size: 1.5rem;
                color: rgba($white,.5);
                font-weight: 300;
                margin-top: .5rem;
            }

            label{
                font-size: .9rem;
                letter-spacing: .1rem;
                color: rgba($white,.5);

            }

            h2,label{
                @include movil0{
                    padding-left: 0rem;
                }

                @include movil1024{
                    padding-left: 1rem;
                }

                @include movil1199{
                    padding-left: 6rem;
                }
                
            }

            .imagePost{
                background-size: cover;
                background-position: center center;        
                margin: 0 auto;
                width: 100%;
                opacity: .5;
                transition: all .5s ease;

                @include movil0{
                    max-width: 100%;
                    height: 50vh;

                }

                @include movil768{
                    max-width: 650px;
                    height: 50vh;
                }

                @include movil992{
                    max-width: 450px;
                    height: 30vh;
                }

            }

            &:hover{
                h2,label{
                    color: rgba($white,1);
                    transition: all .5s ease;
                    
                }

                .imagePost{
                    opacity: 1;
                    transition: all .5s ease;

                }
            }
        }
    }

    .hide{
        @include movil0{
            display: none;
        }

        @include movil768{
            display: block;
        }
    }
}

.text-reset{
    background: none;
    font-size: 1.2rem;
    color: rgba($white,.5) !important;
    opacity: 1;
    position: relative;
    bottom: .3rem;
}

