/*Estilos index*/
.balancedCare {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 15vh;
        background-color: $grey-two;

        @include movil0{
            display: none;   
        }

        @include movil768{
            display: block;
        }
    }

    .image {
        background-image: url('../img/index/balanced-care.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #e8eae9;
        border: 1px solid $brown;
        border-top: 0;

        @include movil0{
            height: 50vh;
            background-size: contain;  
        }

        @include movil768{
            height: 100vh;
            background-size: cover;
        }
    }

    .text {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;

        h2 {
            font-family: 'Aoki';
            color: $brown;
            font-weight: 300;
            padding: 1rem 0;
            position: relative;

            @include movil0{
                line-height: 3rem;
                text-align: center;  
            }
    
            @include movil768{
                line-height: 5rem;
                text-align: left;
            }

            &::after {
                content: "";
                position: absolute;
                width: 50%;
                height: 1px;
                background-color: $brown;

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil768{
                    bottom: 0;
                    left: 0;
                    transform: translate(0);  
                }

            }

        }

        p {
            font-family: 'Avenir';
            color: $brown;
            font-size: 35px;
            text-align: justify;
            margin-top: 2rem;
            line-height: 45px;
            font-weight: 500;
            margin-top: 2rem;

            @include movil0{
                text-align: center;  
            }
    
            @include movil768{
                text-align: left;
            }
        }
    }
}

.loHacemosPorTi {
    display: flex;
    align-items: center;
    background-image: url('../img/index/vont-lohacemos-por-ti.jpg');
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    flex-wrap: wrap;

    @include movil0{
        min-height: 70vh;
        background-position: bottom;
        background-size: contain;
    }

    @include movil768{
        min-height: 100vh;
        background-position: left bottom;
        background-size: cover;

    }

    .text {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @include movil0{
            padding-top: 3rem;
            padding-bottom: 8rem;
        }
    
        @include movil768{
            padding-bottom: 0;
            padding-top: 0;
        }


        h2 {
            font-family: 'Aoki';
            color: $brown;
            font-weight: 300;
            padding: 1rem 0;
            position: relative;
            max-width: 350px;
            width: 100%;

            @include movil0{
                text-align: center;
                margin: 0 auto;
                line-height: 3rem;
            }
        
            @include movil768{
                text-align: right;
                margin: unset;
                line-height: 5rem;
            }

            &::after {
                content: "";
                position: absolute;
                width: 50%;
                height: 1px;
                background-color: $brown;

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil768{
                    bottom: 30%;
                    left: 0;
                    transform: translate(0);  
                }
            }
        }

        p {
            width: 100%;
            font-family: 'Avenir';
            color: $brown;
            line-height: 37px;
            font-size: 28px;

            @include movil0{
                text-align: center;
                margin: .5rem auto;
                max-width: 400px;
            }
        
            @include movil768{
                text-align: justify;
                margin-top: 1rem;
                max-width: 100%;
            }
        }
    }

}

.marcaHogar {
    min-height: 70vh;
    display: flex;
    align-items: center;
    background-image: url('../img/index/vont-marca-que-llamas-tu-hogar.jpg');
    background-size: cover;
    border-top: 1px solid $brown;
    padding: 2rem 1rem;

    h2 {
        font-family: 'Aoki';
        color: $brown;
        font-weight: 300;
        padding: 1rem 0;
        position: relative;

        @include movil0{
            text-align: center;
            line-height: 3rem;
        }
    
        @include movil768{
            text-align: left;
            line-height: 5rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: 25%;
            height: 1px;
            background-color: $brown;

            @include movil0{
                bottom: 0;
                left: 50%;
                transform: translate(-50%,-50%);  
            }
    
            @include movil768{
                bottom: 30%;
                right: 5%;
                transform: translate(70%,-50%);  
            }
        }
    }

    p {
        width: 100%;
        font-family: 'Avenir';
        color: $brown;
        line-height: 44px;
        font-size: 32px;
        margin-top: 1rem;

        @include movil0{
            text-align: center;
        }

        @include movil768{
            text-align: justify;
        }
    }
}


.mejoraTuVida {
    display: flex;
    align-items: stretch;
    background-color: $grey-strong;

    h2 {
        color: $brown;
        font-weight: 300;
        font-family: 'Aoki';
        
        margin-bottom: 2rem;

        @include movil0{
            margin-top: 2rem;
            text-align: center;
        }

        @include movil768{
            margin-top: 4rem;
            text-align: left;
        }

        i {
            font-weight: 500;
        }
    }

    .principal {
        background-image: url('../img/index/blog.jpg');
        background-size: cover;
        
        background-position: left center;
        padding: 2rem;
        border: 1px solid $white;

        @include movil0{
            min-height: 70vh;
        }

        @include movil768{
            min-height: 100vh;
        }

        .infoPrincipal {
            background-color: $white;
            max-width: 600px;
            width: 100%;
            padding: 2rem;
            border: 1px solid $brown;

            @include movil0{
                margin: 0 auto;
            }
    
            @include movil768{
                margin: unset;
            }

            .title {
                font-family: 'Catchy';
                color: $brown;
                font-weight: 400;
                font-size: 3rem;
            }

            p {
                font-family: 'Avenir';
                color: $brown;
                font-weight: 300;
                font-size: 25px;
            }

            a {
                display: inline-block;
                text-decoration: none;
                font-family: 'Avenir';
                color: $brown;
                font-size: 20px;
                max-width: 160px;
                width: 100%;
                font-weight: 300;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 40%;
                    right: 0%;
                    width: 45%;
                    height: 1px;
                    background-color: $brown;
                }
            }
        }
    }

    .category {
        background-size: cover;
        background-position: center center;
        text-decoration: none;
        display: block;
        position: relative;
        z-index: 1;
        border: 1px solid $white;

        @include movil0{
            min-height: 50vh;
        }

        @include movil768{
            min-height: 33.33vh;
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $black;
            opacity: .5;
            transition: all .5s ease;
        }



        &.one {
            background-image: url('../img/index/bodyVont.jpg');

            img {
                max-width: 120px;
            }
        }

        &.two {
            background-image: url('../img/index/vontSpirit.jpg');

            img {
                max-width: 200px;
            }
        }

        &.three {
            background-image: url('../img/index/beautyVont.jpg');

            img {
                max-width: 200px;
            }
        }

        .logoCategory {
            filter: drop-shadow(0 0 2px $black);
            position: absolute;
            left: 5%;
            bottom: 5%;
            z-index: 2;

        }


        &:hover {
            &::after {
                opacity: 0;
                transition: all .5s ease;
            }
        }

    }
}

.ecommerce {
    border: 1px solid $brown;
    border-top: 0;
    background-color: $white;

    .bannerEcommerce {
        padding: 2rem;
        display: flex;
        align-items: center;
        

        @include movil0{
            min-height: 30vh;
            border-bottom: 1px solid $brown;
        }

        @include movil1200{
            min-height: 80vh;
            border-bottom: 0;
        }

        .info {

            @include movil0{
                max-width: 500px;
                width: 100%;
                margin: 0 auto;
            }

            @include movil1200{
                margin: 0;
            }



            h3 {
                color: $brown;
                font-weight: 300;
                font-family: 'Aoki';
                margin-bottom: 2rem;
                line-height: 3rem;
                position: relative;
                padding-bottom: 2rem;

                @include movil0{
                    text-align: center;
                    margin-top: 1rem;
                }
        
                @include movil1200{
                    text-align: left;
                    margin-top: 4rem;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 1px;
                    left:25%!important;
                    background-color: $brown;

                    @include movil0{
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%,-50%);  
                    }
            
                    @include movil1200{
                        bottom: 0%;
                        left: 20%; 
                    }
                }

                br{
                    @include movil0{
                        display: none;
                    }
            
                    @include movil1200{
                        display: block;
                    }
                }

            }

            p {
                font-family: 'Avenir';
                color: $brown;
                font-weight: 300;
                font-size: 27px;

                @include movil0{
                    text-align: center;
                }
        
                @include movil1200{
                    text-align: left;
                }

                

                br{
                    @include movil0{
                        display: none;
                    }
            
                    @include movil1200{
                        display: block;
                    }
                }
            }
        }

        .btn-black{
            @include movil0{
                margin: 2rem auto;
            }
    
            @include movil1200{
                margin: 2rem 0;
            }

        }
    }

    #sliderProducts {

        .owl-dot{
            display: none;
        }
        .item {
            border: 1px solid $brown;
            border-top: 0;
            border-bottom: 0;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            @include movil0{
                min-height: 50vh;
            }
    
            @include movil1200{
                min-height: 80vh;
            }

            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $white;
                opacity: 0;
                z-index: 1;
            }


            &:first-child {
                border-right: 0;

            }

            .category{
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                width: 100%;
                top: -50%;
                left: 0;
                transition: all .5s ease;
                position: absolute;
                z-index: 2;

                .text{
                    font-family: 'Avenir';
                    color: $brown;
                    font-weight: 300;
                    
                    p{
                        font-size: .9rem;
                        margin-bottom: .5rem;
                    }

                    label{
                        i{
                            color: $brown;
                            font-weight: 300;
                        }
                    }
                }
            }

            .price {
                position: absolute;
                width: 100%;
                bottom: -50%;
                left: 0;
                display: flex;
                border-top: 1px solid $brown;
                transition: all .5s ease;
                z-index: 2;
                background-color: $white;


                a {
                    display: inline-block;
                    text-decoration: none;
                    font-family: 'Avenir';
                    color: $brown;
                    text-align: center;
                    width: 50%;
                    padding: .5rem;


                    &:last-child {
                        color: $white;
                        background-color: $black;
                    }

                }
            }

            &:hover {
                .price {
                    bottom: 0;
                    transition: all .5s ease;
                }

                .category {
                    top: 0;
                    transition: all .5s ease;
                }

                &::before{
                    opacity: .8;
                    transition: all .5s ease;
                }

            }
        }
    }
    
}

.familiaVont {
    background-color: $grey-strong;
    padding: 2rem 0;

    h2 {
        color: $brown;
        font-family: 'Aoki';
        
        span {
            font-family: 'Avenir';
        }

        @include movil0{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        @include movil768{
            max-width: 100%;
            margin: unset;
            margin-top: 4rem;
            margin-bottom: 6rem;
            text-align: left;
        }
    }

    #familyvont{
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            margin: 0 20px;
            transform: scale(.8);

            @include movil0{
                margin: 0px;
            }

            @include movil768{
                margin: 0 20px;
            }
        }
    
        .active{
            .item{
                opacity: 1;
                transform: scale(1);
            }
        }
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner {
            background-color: $white;
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            margin-top: 1rem;

    
            a{
                color: $brown;
                font-weight: 300;
                text-decoration: none;
                transition: .3s ease border-color;
                text-transform: uppercase;

                @include movil0{
                    font-size: 1rem;
                }
    
                @include movil768{
                    font-size: 1.5rem;
                }

                

                &:hover{
                    color: $black-light;
                    transition: all .5s ease;
                }
    
                i{
                    margin: 0 .5rem;

                    
                }
    
            }

            .namePerson{
                @include movil0{
                    display: block;
                }
    
                @include movil768{
                    display: inline-block;
                }
            }
        }
    
        .owl-nav{
            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: $white;
                border: 1px solid $brown;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;

                &:hover{
                    background-color: $grey-strong;
                    transition: all .5s ease;
                }


                span{
                    font-size: 3rem;
                    color: $brown;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
                
    
                }
    
                
            }
        }
    
    }
}

.contacto{
    background-color: $grey-strong;
    padding: 4rem 2rem;

    .title{
        p,h2{
            color: $brown;
            text-align: center;
        }

        h2{
            font-family: 'Aoki';
            font-weight: 300;

            @include movil0{
                font-size: 2rem;
            }

            @include movil768{
                font-size: 3rem;
            }
        }

        p{
            font-family: 'Avenir';
            font-weight: 300;
        }
    }

    .map,.form{
        margin-top: 2rem;
        border: 1px solid $brown;
        padding: 2rem;

        @include movil0{
            min-height: 35vh;
        }

        @include movil991{
            min-height: 75vh;
        }
    }

    .form{
        background-color: #fbfbfb;

        h3{
            color: $brown;
            font-family: 'Aoki';
            font-weight: 300;
            font-size: 2rem;

            @include movil0{
                text-align: center;
            }
    
            @include movil991{
               text-align: left; 
            }
        }

        form{
            max-width: 700px;
            width: 100%;
            margin-top: 1rem;

            .form-control{
                border-radius: 0;
                border: 0.5px solid $brown;
                font-family: 'Avenir';
                color: $brown;
            }

            input[type="submit"]{
                border: 0;
                padding: .5rem;
                background-color: $grey-strong;
                font-family: 'Aoki';
                font-size: 1rem;
                color: $brown;
                font-weight: 300;
                transition: all .5s ease;

                &:hover{
                    background-color: $brown;
                    color: $white;
                    transition: all .5s ease;
                }
            }
        }
    }
    .map{
        background-image: url('../img/index/bg-map.jpg');
        position: relative;
        .info{
            display: flex;
            p{
                font-family: 'Avenir';
                color: $brown;
                font-weight: 300;
                font-size: 1rem;
                width: 80%;
            }
            
            label{
                
                i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $brown;
                    color: $brown;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;

                }
            }
        }

        h3{
            color: $brown;
            font-family: 'Aoki';
            font-weight: 300;
            position: absolute;
            bottom: 10%;
        }
    }


}