//MENTAL STYLES
.bannerMental{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/mental/banner.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba($black,.5);
        z-index: 0;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgb(255,240,219);
background: linear-gradient(180deg, rgba(255,240,219,0) 0%, rgba(255,240,219,0) 65%, rgba(255,240,219,1) 100%);
        z-index: 1;
    }

    .textBanner{
        position: relative;
        z-index: 2;

        h1{
            color: $white;
            font-family: $Frank;
        }

        p{
            color: $white;
            font-family: $Montserrat;
            font-weight: 300;
            letter-spacing: .2rem;
        }

         a{
            transition: all .5s ease;
            &:hover{
                text-decoration: none;
                background-color: rgba($white,.2);
                transition: all .5s ease;
                color: $white;
            }
         }
    }
}

.riqueza{
    padding: 5rem 1rem;
    background-image: url('../img/mental/bg-riqueza.jpg');
    background-size: cover;
    background-position: right top;

    .container{
        @include movil0{
            min-width: 100% !important;
        }

        @include movil992{
            min-width: 720px !important;
        }
    }

    p {
        font-family: 'Avenir';
        color: $brown;
        text-align: justify;
        max-width: 600px;
        width: 100%;
        font-weight: 600;
        margin-bottom: 20px!important;
        font-size: 22px;

        @include movil0{
            margin: 1rem auto;
            text-align: center;
        }

        @include movil768{
            margin: unset;
            text-align: left;
        }
    }

    h2 {
        font-family: 'Catchy';
        color: $brown;
        margin: 35px 0px!important;
        font-weight: 300;
        position: relative;
        max-width: 600px;
        width: 100%;

        @include movil0{
            margin: 1rem auto;
            text-align: center;
        }

        @include movil768{
            margin: unset;
            text-align: left;
        }

        &::after {
            content: "";
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $brown;

            @include movil0{
                bottom: 0;
                left: 50%;
                transform: translate(-50%,-50%);  
            }
    
            @include movil768{
                left: 65%;
                bottom: 20%;
                
            }
        }

        i{
            font-weight: 600;
        }
    }

    img{

        @include movil0{
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        @include movil768{
            max-width: 100%;
            margin: unset;
            display: block;
            
        }

    }
}

.pleca{
    position: relative;
    background-image: url('../img/mental/bg-riqueza2.jpg');
    background-size: cover;
    background-position: top center;

    @include movil0{
        padding: 1rem;
    }

    @include movil768{
        padding: 3rem 1rem;
        
    }

    .textMask {
        background-image: url('../img/mental/bg-clipPath.jpg');
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: $Frank;
        font-weight: 300;
        
        
        @include movil0{
            font-size: 3rem;
            text-align: center;
        }

        @include movil768{
            font-size: 4rem;
            text-align: left;
            
        }
        
    }
}

.ayuda {
    background-image: url('../img/mental/bg-clipPath.jpg');
    position: relative;
    padding: 3rem 1rem;
    padding-bottom: 8rem;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($black,.5);
        z-index: 0;
    }

    h2 {
        color: $white;
        font-weight: 300;
        font-family: 'Catchy';
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;

        @include movil0{
            text-align: center;
        }

        @include movil768{
            text-align: left;
        }



        i {
            font-weight: 500;
        }
    }

    #Ayudar{
        position: relative;
        z-index: 1;
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            margin: 0 20px;
            transform: scale(.8);
            position: relative;

            @include movil0{
                margin: 0px;
            }

            @include movil768{
                margin: 0 20px;
            }
        }
    
        .active{
            .item{
                opacity: 1;
                transform: scale(1);
            }
        }
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner {
            background-color: $veige;
            width: 100%;   
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            
            

            @include movil0{
                position: relative;
                max-width: 100%;
                flex-wrap: wrap;
                justify-content: center;
            }

            @include movil768{
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            @include movil992{
                max-width: 450px;
                position: absolute;
                bottom: 10%;
                right: -10%;
            }

            .logo{
                padding: 1rem;
                @include movil0{
                    text-align: center;
                }

                @include movil768{
                    text-align: left;
                }

                img{
                    @include movil0{
                        max-width: 50px;
                        margin: 0 auto;
                    }

                    @include movil768{
                        max-width: 100px;
                        width: 100%;
                    }
                }
            }

            .text{
                @include movil0{
                    text-align: center;
                }

                @include movil768{
                    text-align: left;
                }

                h4 {
                    font-family: 'Catchy';
                    color: $brown;
                    font-size: 34px;
                    text-transform: Initial;
                }

                p {
                    text-transform: initial;
                    font-size: 1.2rem;
                    font-weight: 600;
                    font-family: 'Avenir';
                }
            }
        
    
            a {
                color: $brown;
                font-weight: 300;
                text-decoration: none;
                transition: .3s ease border-color;
                font-size: 1rem;
                text-transform: uppercase;
                margin:20px 0;

                &:hover{
                    color: $black-light;
                    transition: all .5s ease;
                }
    
                i{
                    margin: 0 .5rem;
                }
    
            }
        }
    
        .owl-nav{
            position: absolute;
            width: 100%;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);

            

            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: rgba($white,.2);
                border: 1px solid $white;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;

                &:hover{
                    background-color: $grey-strong;
                    transition: all .5s ease;
                }


                span{
                    font-size: 3rem;
                    color: $white;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
                
    
                }
    
                
            }

            .owl-next{
                right: 0;
                position: absolute;
            }

            .owl-prev{
                position: absolute;
                left: 0;
            }
        }
    
    }
}

.tips{
    background-image: url('../img/mental/bg-ornamnetas.jpg');
    background-position: top center;
    background-size: cover;

    @include movil0{
        padding: 1rem;
    }

    @include movil991{
        padding: 3rem 1rem;
    }

    .container{
        @include movil0{
            min-width: 100% !important;
        }

        @include movil1200{
            min-width: 720px !important;
        }
    }

    .row{
        position: relative;

        @include movil0{
            top: 0;
        }

        @include movil768{
            top:-6rem;
        }
    }

    .tip{
        

        @include movil0{
            border: 0;
        }

        @include movil768{
            border: 1px solid $brown;
        }

        img{
            width: 100%;
            @include movil0{
                max-width: 300px;
                margin: 0 auto;
                display: block;
            }

            @include movil768{
                display: inline-block;
                max-width: 100%;
                margin: unset;
            }
        }


        .infoTip{
            display: flex;
            align-items: center;
            padding: .5rem .5rem 0 .5rem;

            @include movil0{
                justify-content: center;
                flex-wrap: wrap;
            }

            @include movil1200{
                justify-content: space-between;
                flex-wrap: nowrap;
            }
    
            h4{
                font-family: $Frank;
                color: $brown;
                font-size: 1.2rem;
                font-weight: 300;

                @include movil0{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
    
                @include movil1200{
                    display: inline-block;
                    text-align: left;
                }
            }

            a{
                padding: 1rem;
                text-decoration: none;
                font-family: $Nunito;
                color: $brown;
                position: relative;
                bottom: 4px;

                @include movil0{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
    
                @include movil1200{
                    display: inline-block;
                    text-align: right;
                }
            }

            
        }
    }


}

.definirPoyecto{
    background-color: $veige;

    .text{
        display: flex;
        align-items: center;
        height: 100%;
        

        @include movil0{
            padding-left: 1rem;
        }

        @include movil1199{
            padding-left: 6rem;
        }

        h2 {
            font-family: $Frank;
            color: $brown;
            font-weight: 300;
            position: relative;
            max-width: 600px;
            width: 100%;

            @include movil0{
                text-align: center;
                margin: 1rem auto;
            }
    
            @include movil991{
                text-align: left;
                margin: unset;
            }

            &::after {
                content: "";
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $brown;

                @include movil0{
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);  
                }
        
                @include movil991{
                    bottom: 20%;
                    left: 50%;
                    
                }
            }

            i{
                font-weight: 600;
            }
        }
    }

    .imgAccordion{
        max-width: 500px;
        width: 100%;
    }
    .accordion{
        @include movil0{
            padding: 0;
            margin-top: 1rem;
        }

        @include movil991{
            padding: 0 2rem;
            margin-top: 0;
        }
        

        .accordion-button:not(.collapsed),.accordion-button{
            background-color: $veige;
            border-color: $veige;
            border: 0;
            border-radius: 0;
            font-size: 1.8rem;
            color: $brown;
            font-weight: 300;
        }

        .accordion-item{
            border: 0;
        }

        .accordion-header{
            text-decoration: none;
            font-family: $Frank;
            color: $brown;
            font-size: 1.2rem;
        }

        .accordion-body{
            background-color: $veige;
            font-family: $Nunito;
            color: $brown;
            font-weight: 500;
        }

    }
}

.conocerVont{

    background-color: $veige;

    h3{
        text-align: center;
        padding: 4rem 1rem 2rem 1rem;
        font-family: $Frank;
        color: $brown;
        font-weight: 300;
        font-size: 2.5rem;
    }

    #sliderCategory{
        .item {
            border-top: 0;
            border-bottom: 0;
            overflow: hidden;
            position: relative;
            min-height: 80vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                opacity: 0;
                z-index: 1;
            }



            .info {
                position: absolute;
                width: 100%;
                bottom: -50%;
                left: 0;
                transition: all .5s ease;
                z-index: 2;
                padding: 2rem;


                .title{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    color: $white;
                    font-size: 2.5rem;
                    font-family: $Frank;
                    font-weight: 300;
                }

                .moreInfo{
                    display: block;
                    text-decoration: none;
                    font-family: $Nunito;
                    color: $white;
                    font-size: 1.2rem;
                    font-family: $Nunito;
                    font-weight: 300;
                }
            }

            &:hover {

                .info {
                    bottom: 0;
                    transition: all .5s ease;
                }

                .category {
                    top: 0;
                    transition: all .5s ease;
                }

                &::before{
                    opacity: .5;
                    transition: all .5s ease;
                }

            }
        }

        .owl-nav{
            position: absolute;
            width: 100%;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);

            

            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: rgba($white,.2);
                border: 1px solid $white;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;
                border-radius: 50%;

                &:hover{
                    background-color: $grey-strong;
                    transition: all .5s ease;
                }


                span{
                    font-size: 3rem;
                    color: $white;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
                
    
                }
    
                
            }

            .owl-next{
                right: 0;
                position: absolute;
            }

            .owl-prev{
                position: absolute;
                left: 0;
            }
        }

    }

}


.blogMental{
    .verde{
        padding: 3rem 1rem;
        text-align: center;
        
        p,h2{
            color: $white;
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }

        h2{
            font-family: $Frank;
            font-weight: 300;
        }
    }

    .contentBlog{

        #blog{
            position: relative;
            
            .item{
                padding: 3rem 2rem;
                position: relative;
                
                .img{
                    height: 30vh;
                    background-size: cover;
                    background-position: center center;
                    
                }
            }
    
            .info{
                background-color: $green;
                padding: 1.5rem;
                width: 105%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -10%);
                position: relative;
                
                h4{
                    color: $white;
                    font-family: $Montserrat;
                    font-weight: 300;
                    font-weight: 600;
                }

                p{
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: 1rem;

                }

                a{
                    text-decoration: none;
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            .owl-nav{
                position: absolute;
                transform: translate(-50%,-50%);
                z-index: 4;

                @include movil0{
                    width: 100%;
                    max-width: 150px;
                    top: 87%;
                    left: 50%
                }

                @include movil991{
                    max-width: 100%;
                    width: 100%;
                    top: 40%;
                    left: 50%;
                }
    
                
    
                .owl-next,.owl-prev{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($green,.5);
                    border: 1px solid $white;
                    position: relative;
                    border-radius: 0;
                    transition: all .5s ease;
                    border-radius: 50%;
    
                    &:hover{
                        background-color: $grey-strong;
                        transition: all .5s ease;
                    }
    
    
                    span{
                        font-size: 3rem;
                        color: $white;
                        position: absolute;
                        font-weight: 300;
                        left: 50%;
                        top: 40%;
                        transform: translate(-50%,-50%);
    
                        &:hover{
                            background-color: transparent;
                        }
                    
        
                    }
        
                    
                }
    
                .owl-next{
                    right: 0;
                    position: absolute;
                }
    
                .owl-prev{
                    position: absolute;
                    left: 0;
                }
            }

            
        }

    }
}

.newsLetter{
    
    background-image: url('../img/mental/bg-newsletter.jpg');
    background-position: center center;
    background-size: cover;

    @include movil0{
        padding: 2rem 0rem; 
    }

    @include movil991{
        padding: 5rem 0rem; 
    }

    .container{
        @include movil0{
            min-width: 100% !important;
        }

        @include movil991{
            min-width: 720px !important;
        }
    }

    h3{
        font-family: $Frank;
        color: $white;
        font-weight: 300;
        font-size: 2rem;

        @include movil0{
            text-align: center;
        }

        @include movil992{
            text-align: left;
        }

    }

    .formNewsLetter{
        
        border: 1px solid $white;

        @include movil0{
            padding: 3rem 1rem 2rem 1rem;
        }

        @include movil768{
            padding: 3rem 3rem 2rem 3rem;;
        }

        form{
            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;

            label{
                margin-top: 1rem;
                font-size: $Nunito;
                color: $white;
                font-weight: 300;
                width: 100%;
                

                @include movil0{
                    text-align: center;
                    padding-left: 0%;
                }
        
                @include movil992{
                    text-align: left;
                    padding-left: 2%;
                }
            }

            input[type="email"]{
                background-color: transparent;
                border: 1px solid $white;
                border: 0;
                border-bottom: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                width: 50%;

                @include movil0{
                    width: 100%;
                }
        
                @include movil768{
                    width: 50%;
                }
                
                &::placeholder{
                    color: $white;
                }
            }

            input[type="submit"]{
                background-color: transparent; 
                border: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                margin-left: 1rem;
                

                @include movil0{
                    margin-top: 1.5rem;
                    width: 100%;
                }
        
                @include movil768{
                    margin-top: 0rem;
                    width: 40%;
                }
            }
        }
    }
}

.familiaVontGreen {
    background-color: $green;
    padding: 5rem 0;

    h2 {
        color: $white;
        font-weight: 300;
        font-family: 'Catchy';
        margin-bottom: 6rem;

        @include movil0{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 2rem;
            text-align: center;
        }

        @include movil768{
            max-width: 100%;
            margin: unset;
            margin-bottom: 6rem;
            text-align: left;
        }

        i {
            font-weight: 400;
        }
    }

    p{
        color: $white;
        padding-bottom: 0;
        margin-bottom: 0;

        @include movil0{
            
            text-align: center;
        }

        @include movil768{
            
            text-align: left;
        }
    }

    #familyvont{
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            transform: scale(.8);

            @include movil0{
                margin: 0px;
            }

            @include movil768{
                margin: 0 20px;
            }
        }
    
        .active{
            .item{
                opacity: 1;
                transform: scale(1);
            }
        }
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner {
            background-color: $veige;
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            margin-top: 1rem;
    
            a{
                color: $brown;
                font-weight: 300;
                text-decoration: none;
                transition: .3s ease border-color;
                text-transform: uppercase;

                @include movil0{
                    font-size: 1rem;
                }
    
                @include movil768{
                    font-size: 1.5rem;
                }

                &:hover{
                    color: $black-light;
                    transition: all .5s ease;
                }
    
                i{
                    margin: 0 .5rem;
                }
    
            }

            .namePerson{
                @include movil0{
                    display: block;
                }
    
                @include movil768{
                    display: inline-block;
                }
            }
        }
    
        .owl-nav{
            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: $veige;
                border: 1px solid $brown;
                position: relative;
                border-radius: 0;
                transition: all .5s ease;

                &:hover{
                    background-color: $green;
                    transition: all .5s ease;
                }


                span{
                    font-size: 3rem;
                    color: $brown;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                    }
                
    
                }
    
                
            }
        }
    
    }
}

.logros{
    position: relative;
    #carouselExampleCaptions{
        position: relative;
        overflow: hidden;

        .carousel-inner{
            position: relative;
            width: 100%;
            height: 100%;

            .carousel-item{
                top: 0;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    opacity: .5;
                    z-index: 1;
                }

                .image{
                    width: 100%;
                    background-size: cover;
                    background-position: center center ;
                    min-height: 100vh;
                }

                .carousel-caption{
                    transform: translate(-50%,-50%);
                    text-align: left;
                    z-index: 2;
                    position: absolute;
                    padding: 1rem;
                    width: 100%;
                    max-width: 550px;
                    

                    @include movil0{
                        top: 45%;
                        left: 50%;
                        
                        
                    }

                    @include movil991{
                        top: 50%;
                        left: 30%; 
                    }
                }

                h5{
                    font-family: $Frank;
                    font-size: 3rem;
                    font-weight: 300;
                    i{
                        font-weight: 500;
                    }
                }

                p{
                    font-family: $Nunito;
                }
            }
        }

        .carousel-indicators{
            max-width: 400px;
            width: 100%;
            margin: 0;

            @include movil0{
                transform: 0;
            }

            @include movil991{
                left: 100%;
                position: absolute;
                top: 50%;
                transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            }

        }

        .carousel-indicators [data-bs-target]{

            @include movil0{
                width: 30px;
            }

            @include movil991{
                width: 100px;
            }
        }

        a{
            transition: all .5s ease;
            padding: .5rem 0;
            &:hover{
                text-decoration: none;
                background-color: rgba($white,.2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.contactoVerde{

    background-color: $green;
    padding: 4rem 2rem;

    .titlePath{
        text-align: center;
        margin-bottom: 3rem;
        h2{
            background-image: url('../img/mental/bg-clipPath.jpg');
            
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-family: $Frank;
            font-weight: 300;
            letter-spacing: .3rem;

            @include movil0{
                font-size: 3rem;
                background-position: center;
            }

            @include movil991{
                font-size: 6rem;
                background-position: left center;
            }
        }

        img{
            margin-top: 2rem;
            max-width: 80px;
            width: 100%;
        }
    }

    .title{
        p,h2{
            color: $white;
            text-align: center;
        }

        h2{
            font-family: $Frank;
            font-weight: 300;

            @include movil0{
                font-size: 2rem;
            }

            @include movil768{
                font-size: 3rem;
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }
    }

    .map,.form{
        margin-top: 2rem;
        border: 1px solid $brown;
        padding: 2rem;

        @include movil0{
            min-height: 35vh;
        }

        @include movil991{
            min-height: 75vh;
        }
    }

    .form{
        background-color: $veige-strong;

        h3{
            color: $green;
            font-family: $Frank;
            font-weight: 300;
            font-size: 2rem;

            @include movil0{
                text-align: center;
            }
    
            @include movil991{
               text-align: left; 
            }
        }

        form{
            max-width: 700px;
            width: 100%;
            margin-top: 1rem;

            .form-control{
                background-color: $veige-strong;
                border-radius: 0;
                border: 0.5px solid $green;
                font-family: $Nunito;
                color: $brown;
            }

            input[type="submit"]{
                border: 0;
                padding: .5rem;
                background-color: $veige-strong;
                font-family: $Montserrat;
                border: 0.5px solid $green;
                font-size: 1rem;
                color: $brown;
                font-weight: 300;
                transition: all .5s ease;

                &:hover{
                    background-color: $green;
                    color: $white;
                    transition: all .5s ease;
                }
            }
        }
    }
    .map{
        background-image: url('../img/mental/bg-map.jpg');
        position: relative;
        .info{
            display: flex;
            p{
                font-family: $Nunito;
                color: $green;
                font-weight: 300;
                font-size: 1rem;
                width: 80%;
            }
            
            label{
                
                i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $green;
                    color: $green;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;

                }
            }
        }

        h3{
            color: $green;
            font-family: $Frank;
            font-weight: 300;
            position: absolute;
            bottom: 10%;
        }
    }


}