/*--------------RESPONSIVE----------*/

/* extra Small Devices*/

@mixin movil0{
    @media only screen and (min-width: 0px){
        @content;
    }
    
}

/*Small Devices*/

@mixin movil575{
    @media only screen and (min-width: 575px){
        @content;
    }
}

@mixin movil600{ /*  Responsive para secciion de Sesiones*/
    @media (min-width: 600px){
        @content;
    }
}

/*Medium devices*/

@mixin movil768{
    @media only screen and (min-width: 768px){
        @content;
    }
}

/*Large Devices*/
@mixin movil1024 {
    @media only screen and (min-width: 1024px){  
        @content;
    }

}


@mixin movil950 {
    @media only screen and (min-width: 950px){  
        @content;
    }

}

@mixin movil991{
    @media only screen and (min-width:991px){
        @content;
    }       
}

@mixin movil992{
    @media only screen and (min-width:992px){
        @content;
    }       
}

@mixin movil1199{
    @media only screen and (min-width:1199px){
        @content;
    }       
}

@mixin movil1200{
    @media only screen and (min-width:1200px){
        @content;
    }       
}

@mixin movil1400{
    @media only screen and (min-width:1400px){
        @content;
    }       
}

@mixin movil1500{
    @media only screen and (min-width:1500px){
        @content;
    }       
}
