//EStilos Spirit

.bannerSpirit {
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/spirit/bg-spirit.jpg');
    background-position: top center;
    background-size: cover;
    position: relative;

    @include movil0{
        clip-path: circle(97.3% at 50% 0%);
    }

    @include movil991{
        clip-path: circle(67.3% at 50% 0%);
    }

    


    
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 120vh;
        top: 0;
        left: 0;
        background-color: rgba($black,.5);
        z-index: 0;
    }


    .textBanner {
        position: relative;
        z-index: 2;
        text-align: center;

        h1 {
            color: $white;
            font-family: $Belleza;
        }

        p {
            color: $white;
            font-family: $Montserrat;
            font-weight: 300;
            letter-spacing: .1rem;
        }

        a {
            transition: all .5s ease;
            padding: .5rem 0;
            display: block;
            margin: 2rem auto;

            &:hover {
                text-decoration: none;
                background-color: rgba($white, .2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.riquezaSpirit{
    padding: 1rem 1rem;
    background-image: url("../img/spirit/bg-coach.jpg");
    background-size: cover;
    background-position: 2% 67%;
    overflow: hidden;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 120vh;
        top: 0;
        left: 0;
        background-image: url("../img/spirit/bg-coach.jpg");
        background-size: cover;
        background-position: center top;
        z-index: -1;
    }

    p{
        font-family: $Nunito;
        color: $violet;
        font-weight: 300;

        @include movil0{
            text-align: center;
            max-width: 100%;
        }

        @include movil991{
            text-align: justify;
            max-width: 600px;
            width: 100%;
        }

        
    }

    h2{
        font-family: $Belleza;
        color: $violet;
        font-weight: 300;
        position: relative;

        @include movil0{
            text-align: center;
            max-width: 100%;
        }

        @include movil991{
            text-align: justify;
            max-width: 600px;
            width: 100%;
        }

        b{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $violet;
        }
    }


    img{
        position: relative;
        

        @include movil0{
            max-width: 300px;
            margin: 0 auto;
            display: block;
            right: 0em;
        }

        @include movil991{
            right: -.5em;
            max-width: 400px;
        }

        @include movil1199{
            right: -1em;
            max-width: 700px;
        }
    }

}

.claseTaller{
    background-image: url("../img/spirit/bg-green.jpg");
    background-size: cover;
    position: relative;

    @include movil0{
        padding: 10rem 0rem 5rem 0;
        background-position: left center;
    }

    @include movil991{
        padding: 20rem 0rem 20rem 0;
        background-position: center center;
    }


    .text{
        height: 100%;
        padding-left: 6rem;

        @include movil0{
            padding-left: 1rem;
        }

        @include movil991{
            padding-left: 6rem;
        }


        h2{
            font-family: $Belleza;
            color: $white;
            font-weight: 300;
            position: relative;
            max-width: 600px;
            width: 100%;

            @include movil0{
                text-align: center;
                margin: 1rem auto;
                
            }
    
            @include movil991{
                text-align: left;
                margin: unset;
                
            }

            b{
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $white;
            }
    
        }

    }

    .imgAccordion{

        @include movil0{
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        @include movil991{
            width: 100%;
            max-width: 400px;
            margin-top: 2rem;
            
        }
    }

    .accordion{
        padding: 0 2rem;

        .accordion-button:not(.collapsed),.accordion-button{
            background-color: transparent;
            border: 0;
            border-radius: 0;
            font-size: 2rem;
            font-weight: 300;
            -webkit-text-fill-color: rgba($white,.3); /* Will override color (regardless of order) */
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: rgba($white,.3);
        }

        .accordion-item{
            border: 0;
            background: transparent;
        }

        .accordion-header{
            text-decoration: none;
            font-family: $Belleza;
            font-size: 1.2rem;
        }

        .accordion-body{
            background-color: transparent;
            font-family: $Nunito;
            color: $white;
            font-weight: 500;
            border-top: 1px solid rgba($white, .5);
        }

        .accordion-button:not(.collapsed){
            -webkit-text-fill-color: $white !important;

            &::after{
                background-color: rgba($white,.5);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                background-position: center center;
            }
        }

        .accordion-button{
            &:focus{
                box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
            }
        }


    }
}

.planDeVida{
    padding-top: 2rem;
    background-image: url("../img/spirit/bg-planVida.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;

    @include movil0{
        background-position: initial;
        height: 190vh;
    }

    @include movil575{
        background-position: initial;
        height: 160vh;
    }

    @include movil768{
        background-position: initial;
        height: 140vh;
    }

    @include movil991{
        background-position: bottom center;
        height: 150vh;
    }

    .text{
        text-align: center;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;


        h2{
            font-family: $Belleza;
            color: $violet;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $violet;
        }

        p{
            font-family: $Nunito;
            color: $violet;
            margin: 0;
            
            @include movil0{
                text-align: center;
            }

            @include movil991{
                text-align: left;
            }
        }
    }

    .nav{
        justify-content: center;
        margin-top: 2rem;
    }

    .nav-pills .nav-link.active{
        background-color: $violet;
    }


    .nav-link{
        font-family: $Nunito;
        color: $violet;
        max-width: 200px;
        font-size: 1.1rem;
        width: 100%;
        border: 1px solid $violet;
        border-radius: 30px;
        margin: 0 .5rem;
        box-shadow: 0 0 5px #838383;
    }

    .tab-content{
        margin-top: 3rem;
        text-align: center;
        p{
            text-align: center;
            font-family: $Nunito;
            color: $violet;
            font-weight: 600;
            max-width: 600px;
            margin: 0 auto;
            margin-top: .5em;
        }

        a{
            text-decoration: none;
            display: inline-block;
            padding: .5rem 1rem;
            border: 1px solid $violet;
            text-align: center;
            font-family: $Nunito;
            color: $violet;
            border-radius: 30px;
            margin-top: 2rem;
            font-size: 1.2rem;
            transition: all .3s ease;

            &:hover{
                background-color: $purple;
                color: $white;
            }
        }
    }
}

.categorySpirit{
    margin-top: -6em;
    z-index: 0;
    position: relative;


    .category{
        position: relative;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center center;
        
        @include movil0{
            min-height: 90vh;
        }

        @include movil768{
            min-height: 120vh;
        }


        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $white;
            z-index: 1;
            opacity: 0;
            transition: all .5s ease;
        }

        .infoCategory{
            padding: 1rem;
            position: absolute;
            max-width: 400px;
            width: 100%;
            left: 50%;
            top: 120%;
            transform: translate(-50%,-50%);
            opacity: 0;
            z-index: 2;
            transition: all .5s ease;

    
            h4{
                font-family: $Belleza;
                color: $violet;
                font-size: 1.8rem;
                font-weight: 300;
                text-align: center;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $violet;
            }

            p{
                font-size: 1rem;
                color: $violet;
                font-family: $Nunito;
            }

            a{
                display: block;
                text-decoration: none;
                font-family: $Nunito;

                color: $violet;
                max-width: 200px;
                width: 100%;
            }
        }


        &:hover{
            transition: all .5s ease;
            cursor: pointer;

            &::after{
                opacity: .8;
            }

            .infoCategory{
                top: 50%;
                opacity: 1;
            }


        }
    }


}

.blogSpirit{
    .blogviolet{
        background-color: #e0ebe8;
        padding: 3rem 1rem;
        text-align: center;
        
        p,h2{
            color: $violet;
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }

        h2{
            font-family: $Belleza;
        }
    }

    .contentBlog{

        #blog{
            position: relative;
            
            .item{
                padding: 3rem 2rem;
                position: relative;
                
                .img{
                    height: 30vh;
                    background-size: cover;
                    background-position: center center;
                    
                }
            }
    
            .info{
                background-color: $violet;
                padding: 1.5rem;
                width: 105%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -10%);
                position: relative;
                
                h4{
                    color: $white;
                    font-family: $Montserrat;
                    font-weight: 300;
                    font-weight: 600;
                }

                p{
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: 1rem;

                }

                a{
                    text-decoration: none;
                    color: $white;
                    font-family: $Nunito;
                    font-weight: 300;
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            .owl-nav{
                position: absolute;
                width: 100%;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;

                @include movil0{
                    width: 100%;
                    max-width: 150px;
                    top: 87%;
                    left: 50%
                }
    
                @include movil991{
                    max-width: 100%;
                    width: 100%;
                    top: 40%;
                    left: 50%;
                }
    
                
    
                .owl-next,.owl-prev{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($purple,.5);
                    border: 1px solid $white;
                    position: relative;
                    border-radius: 0;
                    transition: all .5s ease;
                    border-radius: 50%;
    
                    &:hover{
                        background-color: $grey-strong;
                        transition: all .5s ease;
                    }
    
    
                    span{
                        font-size: 3rem;
                        color: $white;
                        position: absolute;
                        font-weight: 300;
                        left: 50%;
                        top: 40%;
                        transform: translate(-50%,-50%);
    
                        &:hover{
                            background-color: transparent;
                        }
                    
        
                    }
        
                    
                }
    
                .owl-next{
                    right: 0;
                    position: absolute;
                }
    
                .owl-prev{
                    position: absolute;
                    left: 0;
                }
            }

            
        }

    }
}


.newsLetterSpirit{
    padding: 5rem 1rem; 
    background-image: url('../img/spirit/newsletterSpirit.jpg');
    background-position: center center;
    background-size: cover;

    @include movil0{
        padding: 2rem 0rem; 
    }

    @include movil991{
        padding: 5rem 0rem; 
    }

    .container{
        @include movil0{
            min-width: 100% !important;
        }

        @include movil991{
            min-width: 720px !important;
        }
    }

    h3{
        font-family: $Belleza;
        color: $white;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .1rem;

        @include movil0{
            text-align: center;
        }

        @include movil992{
            text-align: left;
        }
    }

    .formNewsLetter{
        padding: 3rem 3rem 2rem 3rem;
        border: 1px solid $white;

        @include movil0{
            padding: 3rem 1rem 2rem 1rem;
        }

        @include movil768{
            padding: 3rem 3rem 2rem 3rem;;
        }

        form{

            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;

            label{
                margin-top: 1rem;
                display: block;
                font-size: $Nunito;
                color: $white;
                font-weight: 300;
                width: 100%;

                @include movil0{
                    text-align: center;
                    padding-left: 0%;
                }
        
                @include movil992{
                    text-align: left;
                    padding-left: 2%;
                }
            }

            input[type="email"]{
                background-color: transparent;
                border: 1px solid $white;
                border: 0;
                border-bottom: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                max-width: 400px;
                width: 100%;

                @include movil0{
                    width: 100%;
                }
        
                @include movil991{
                    width: 50%;
                }
                
                &::placeholder{
                    color: $white;
                }
            }

            input[type="submit"]{
                background-color: transparent; 
                border: 1px solid $white;
                font-size: 1.5rem;
                padding: .5rem;
                color: $white;
                font-weight: 300;
                margin-left: 1rem;
                max-width: 300px;
                width: 100%;

                @include movil0{
                    margin-top: 1.5rem;
                    width: 100%;
                }
        
                @include movil991{
                    margin-top: 0rem;
                    width: 40%;
                }
            }
        }
    }
}

.familiaVontViolet {
    background-color: #c5d2df;
    padding: 5rem 0;

    h2 {
        color: $violet;
        font-weight: 300;
        font-family: $Belleza;
        margin-bottom: 6rem;

        @include movil0{
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 2rem;
            text-align: center;
        }

        @include movil768{
            max-width: 100%;
            margin: unset;
            margin-bottom: 6rem;
            text-align: left;
        }

    }

    p{
        color: $violet;
        padding-bottom: 0;
        margin-bottom: 0;

        @include movil0{
            
            text-align: center;
        }

        @include movil768{
            
            text-align: left;
        }
    }

    #familyvont{
        .item {
            opacity: 0.4;
            transition: .4s ease all;
            transform: scale(.8);

            @include movil0{
                margin: 0px;
            }

            @include movil768{
                margin: 0 20px;
            }
        }
    
        .active{
            .item{
                opacity: 1;
                transform: scale(1);
            }
        }
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner {
            background-color: $violet;
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            margin-top: 1rem;
            border-radius: 50px;
    
            a{
                color: $white;
                font-weight: 300;
                text-decoration: none;
                transition: .3s ease border-color;
                text-transform: uppercase;
                font-family: $Belleza;

                @include movil0{
                    font-size: 1rem;
                }
    
                @include movil768{
                    font-size: 1.5rem;
                }


                &:hover{
                    color: $black-light;
                    transition: all .5s ease;
                }
    
                i{
                    margin: 0 .5rem;
                }
    
            }

            .namePerson{
                @include movil0{
                    display: block;
                }
    
                @include movil768{
                    display: inline-block;
                }
            }

            
        }
    
        .owl-nav{
            .owl-next,.owl-prev{
                width: 50px;
                height: 50px;
                background-color: $violet;
                border: 1px solid $white;
                position: relative;
                border-radius: 50%;
                transition: all .5s ease;

                &:hover{
                    background-color: $purple;
                    border: 1px solid $purple-light;
                    transition: all .5s ease;

                    span{
                        color: $white;
                    }
                }


                span{
                    font-size: 3rem;
                    color: $white;
                    position: absolute;
                    font-weight: 300;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-50%);

                    &:hover{
                        background-color: transparent;
                        
                    }
                
    
                }
    
                
            }
        }
    
    }
}

.logrosSpirit{
    position: relative;
    #carouselExampleCaptions{
        position: relative;
        overflow: hidden;

        .carousel-inner{
            position: relative;
            width: 100%;
            height: 100%;

            .carousel-item{
                top: 0;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    opacity: .5;
                    z-index: 1;
                }

                .image{
                    width: 100%;
                    background-size: cover;
                    background-position: center center ;
                    min-height: 100vh;
                }

                .carousel-caption{
                    transform: translate(-50%,-50%);
                    text-align: left;
                    z-index: 2;
                    position: absolute;
                    padding: 1rem;
                    width: 100%;
                    max-width: 550px;
                    

                    @include movil0{
                        top: 45%;
                        left: 50%;
                        
                        
                    }

                    @include movil991{
                        top: 50%;
                        left: 30%; 
                    }
                }

                h5{
                    font-family: $Belleza;
                    font-size: 3rem;
                    font-weight: 300;
                    i{
                        font-weight: 500;
                    }
                }

                p{
                    font-family: $Nunito;
                }
            }
        }

        .carousel-indicators{
            max-width: 400px;
            width: 100%;
            margin: 0;

            @include movil0{
                transform: 0;
            }

            @include movil991{
                left: 100%;
                position: absolute;
                top: 50%;
                transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            }

        }

        .carousel-indicators [data-bs-target]{

            @include movil0{
                width: 30px;
            }

            @include movil991{
                width: 100px;
            }
        }

        a{
            transition: all .5s ease;
            padding: .5rem 0;
            border-radius: 30px;
            &:hover{
                text-decoration: none;
                background-color: rgba($white,.2);
                transition: all .5s ease;
                color: $white;
            }
        }
    }
}

.contactoSpirit{

    background-color: #a3b3d4;
    padding: 4rem 2rem;

    .titlePath{
        text-align: center;
        margin-bottom: 3rem;
        h2{
            font-size: 6rem;
            font-family: $Belleza;
            font-weight: 300;
            color: $white;

            @include movil0{
                font-size: 3rem;
                background-position: center;
            }

            @include movil991{
                font-size: 6rem;
                background-position: left center;
            }
            
        }

        img{
            margin-top: 2rem;
            max-width: 80px;
            width: 100%;
        }
    }

    .title{
        p,h2{
            color: $white;
            text-align: center;
        }

        h2{
            font-family: $Belleza;

            @include movil0{
                font-size: 2rem;
            }

            @include movil768{
                font-size: 3rem;
            }
        }

        p{
            font-family: $Nunito;
            font-weight: 300;
        }
    }

    .map,.form{
        margin-top: 2rem;
        border: 1px solid #fcfcfc;
        padding: 2rem;

        @include movil0{
            min-height: 35vh;
        }

        @include movil991{
            min-height: 75vh;
        }
    }

    .form{
        background-color: #fcfcfc;

        h3{
            color: $violet;
            font-family: $Belleza;
            font-size: 2rem;
        }

        form{
            max-width: 700px;
            width: 100%;
            margin-top: 1rem;

            .form-control{
                background-color: #fcfcfc;
                border-radius: 0;
                border: 0.5px solid $violet;
                font-family: $Nunito;
                color: $violet;
            }

            input[type="submit"]{
                border: 0;
                padding: .5rem;
                background-color: #fcfcfc;
                font-family: $Belleza;
                border: 0.5px solid $violet;
                font-size: 1rem;
                color: $violet;
                font-weight: 300;
                transition: all .5s ease;

                &:hover{
                    background-color: $violet;
                    color: $white;
                    transition: all .5s ease;
                }
            }
        }
    }
    .map{
        background-image: url('../img/spirit/bg-map.jpg');
        position: relative;
        .info{
            display: flex;
            p{
                font-family: $Nunito;
                color: $violet;
                font-weight: 300;
                font-size: 1rem;
                width: 80%;
            }
            
            label{
                
                i{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $violet;
                    color: $violet;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;

                }
            }
        }

        h3{
            color: $violet;
            font-family: $Belleza;
            font-weight: 300;
            position: absolute;
            bottom: 10%;
        }
    }


}