/*Colors*/

$black: #000;
$black-light: #b8b8b8;
$grey: #f9f8f8;
$grey-two:#f4f4f4;
$grey-strong: #efedeb;
$white:#fff;
$brown: #655648;
$veige: #fff0db;
$veige-strong:#fadfba;
$green:#122323;
$purple: #4d4c58;
$purple-light:#f6ede8;
$violet:#594fb8;
$orange-light:#efe4de;
$carmin: #c7b6ad;


/*Fonts*/

$Montserrat: 'Montserrat', sans-serif; //AOKI
$Nunito: 'Nunito', sans-serif; //AVENIR CONDENSED
$Frank: 'Frank Ruhl Libre', serif;
$Bebas:'Bebas Neue', cursive;
$Belleza:'Belleza', sans-serif; //MoneaAlegante
$Abril: 'Abril Fatface', cursive;

$height: 100vh;

* {
    font-family: 'Avenir';
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextCondensed-UltraLight.woff2') format('woff2'),
        url('../fonts/AvenirNextCondensed-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catchy';
    src: url('../fonts/CatchyMager-Normal.woff2') format('woff2'),
        url('../fonts/CatchyMager-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aoki';
    src: url('../fonts/Aoki-Light.woff2') format('woff2'),
        url('../fonts/Aoki-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

